<main>
  <header
    class="bg-white md:bg-[#EDEEF4] pt-[38px] md:pt-[61px] mt-[50px] md:mt-[70px] pb-9 md:pb-56"
  >
    <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
      <div class="max-w-5xl mx-auto">
        <div class="text-center">
          <h1
            class="capitalize font-bold text-[30px] md:text-[60px] max-w-[262px] md:max-w-full mx-auto leading-9 md:leading-normal"
          >
            Your safety matters to us
          </h1>
          <img
            src="assets/images/security-bg.jpg"
            width="544"
            height="383"
            alt="security banner image"
            class="object-cover mx-auto mt-5 md:mt-8 rounded-[10px] md:rounded-[20px]"
          />
          <p
            class="mt-3 md:mt-8 max-w-[606px] text-sm md:text-[22px] mx-auto text-gray150 font-medium"
          >
            We would never drop the ball on your <br class="block md:hidden" />
            safety
          </p>
        </div>
      </div>

      <div class="max-w-6xl mx-auto mt-[26.36px] md:mt-20">
        <div class="flex justify-center gap-y-5 md:gap-9 flex-wrap">
          <div
            class="w-full h-[250px] md:w-[499px] md:h-[427px] bg-white border border-[#F9F9F9] md:border-white rounded-[10px] py-[27px] md:py-0 px-[22px] md:px-0 security-card"
          >
            <div class="md:text-center">
              <div class="flex items-center md:block">
                <img
                  src="assets/images/security/icon-1.jpg"
                  alt="security icon image"
                  class="md:mx-auto md:mt-14 w-[60px] h-[60px] md:w-[121px] md:h-[121px]"
                />
                <div
                  class="text-xl text-[#363737] capitalize font-bold md:mt-7 max-w-[147px] md:max-w-full text-left md:text-center ml-4"
                >
                  Data Privacy
                </div>
              </div>
              <p
                class="text-xs md:text-sm text-[#808080] max-w-[345px] text-left md:text-center md:mx-auto mt-5 md:mt-3.5"
              >
                It’s easier for a camel to pass through the eye of a needle than
                for us to compromise on your safety. We make sure your identity
                and confidential details are well encrypted in accordance with
                legal and regulatory standards. We will never share these
                details with a third party.
              </p>
            </div>
          </div>
          <div
            class="w-full h-[250px] md:w-[499px] md:h-[427px] bg-white border border-[#F9F9F9] md:border-white rounded-[10px] py-[27px] md:py-0 px-[22px] md:px-0 security-card"
          >
            <div class="text-center">
              <div class="flex items-center md:block">
                <img
                  src="assets/images/security/icon-2.jpg"
                  alt="security icon image"
                  class="md:mx-auto md:mt-14 w-[60px] h-[60px] md:w-[121px] md:h-[121px]"
                />
                <div
                  class="text-xl text-[#363737] capitalize font-bold md:mt-7 max-w-[147px] md:max-w-full text-left md:text-center ml-4"
                >
                  2 Factor Authentication
                </div>
              </div>
              <p
                class="text-xs md:text-sm text-[#808080] max-w-[345px] text-left md:text-center md:mx-auto mt-5 md:mt-3.5"
              >
                As part of our protective measures, we may ask you to add an
                extra layer of security to your account. With this, each time
                you log in, one of your trusted devices would be required to
                verify your identity
              </p>
            </div>
          </div>
          <div
            class="w-full h-[250px] md:w-[499px] md:h-[427px] bg-white border border-[#F9F9F9] md:border-white rounded-[10px] py-[27px] md:py-0 px-[22px] md:px-0 security-card"
          >
            <div class="text-center">
              <div class="flex items-center md:block">
                <img
                  src="assets/images/security/icon-3.jpg"
                  alt="security icon image"
                  class="md:mx-auto md:mt-14 w-[60px] h-[60px] md:w-[121px] md:h-[121px]"
                />
                <div
                  class="text-xl text-[#363737] capitalize font-bold md:mt-7 max-w-[147px] md:max-w-full text-left md:text-center ml-4"
                >
                  SSL Security
                </div>
              </div>
              <p
                class="text-xs md:text-sm text-[#808080] max-w-[345px] text-left md:text-center md:mx-auto mt-5 md:mt-3.5"
              >
                We make use of the highest standard security protocol to
                maintain a secure connection that safeguards sensitive
                information such as passcodes, personal details, and card
                details while of course ensuring your privacy.
              </p>
            </div>
          </div>
          <div
            class="w-full h-[250px] md:w-[499px] md:h-[427px] bg-white border border-[#F9F9F9] md:border-white rounded-[10px] py-[27px] md:py-0 px-[22px] md:px-0 security-card"
          >
            <div class="text-center">
              <div class="flex items-center md:block">
                <img
                  src="assets/images/security/icon-4.jpg"
                  alt="security icon image"
                  class="md:mx-auto md:mt-14 w-[90px] h-[56.84px] md:w-[170px] md:h-[121px]"
                />
                <div
                  class="text-xl text-[#363737] capitalize font-bold md:mt-7 max-w-[147px] md:max-w-full text-left md:text-center ml-4"
                >
                  End To End Encryption
                </div>
              </div>
              <p
                class="text-xs md:text-sm text-[#808080] max-w-[345px] text-left md:text-center md:mx-auto mt-5 md:mt-3.5"
              >
                Here, every piece of information you share is highly encrypted
                such that no one can intercept or pry into your vital data. Only
                targeted recipients can decrypt or deduce its content. Cool
                right?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <app-footer>
    <app-contact-form #content></app-contact-form>
  </app-footer>
</main>
