<main>
  <header class="bg-white pb-3 md:pb-0 md:h-[570px] md:mt-[70px]">
    <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
      <div class="max-w-5xl mx-auto">
        <div class="grid md:grid-cols-2 mt-[82px] md:pt-32">
          <div>
            <h1 class="text-[25px] md:text-[55px] font-bold text-grayDark">
              Connect with us
            </h1>
            <p class="max-w-[462px] mt-5 text-xs md:text-lg text-paragraph">
              We’re here all day, everyday. Stay up to date on exciting features
              and offers we know you’ll love
            </p>
            <div class="block md:hidden">
              <img src="assets/images/contact-bg.jpg" alt="contact woman image"
                class="my-5 w-full h-[211.2px] object-cover rounded-[10px] object-top" />
            </div>
            <div class="md:mt-8">
              <a href="tel:+234017001008" class="text-sm md:text-lg">
                Call:
                <span class="text-blue font-semibold">+234-01-7001008</span>
              </a>
              <br>
              <a href="tel:+2349120352323" class="text-sm md:text-lg">
                WhatsApp:
                <span class="text-blue font-semibold">+234-9120352323</span>
              </a>
              <br />
              <a href="mailto:help@frenn.com" class="text-sm md:text-lg">
                Email:
                <span class="text-blue font-semibold underline">help@frenn.com</span>
              </a>
            </div>
          </div>
          <div class="hidden md:block">
            <img src="assets/images/contact-bg.jpg" width="384" height="271" alt="contact woman image"
              class="ml-auto mt-5" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="hidden md:block">
    <app-footer></app-footer>
  </div>
  <div class="block md:hidden">
    <app-footer>
      <app-contact-form></app-contact-form>
    </app-footer>
  </div>
</main>