<div class="md:ml-16 pb-9 md:pb-24">
  <div id="intro" class="section">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Introduction
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    ></p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      These Terms and Conditions were last updated on 10.5.2022
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn cares about your privacy, and the confidentiality and security of
      your Personal Information (as defined in the Terms and Conditions). We
      have prepared this Privacy Policy to enable you to understand how we
      collect, process, use, store, and share your Personal Information. This
      Privacy Policy clearly sets out our processes for collecting and
      processing your Personal Information, including, but not limited to your
      rights to access, correct, restrict our collection, processing and use of
      your Personal Information.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      By using any of Frenn’s Platforms or Services, you unconditionally accept
      the terms of this Privacy Policy, and the Terms and Conditions. If, for
      any reason, you do not accept the terms of this Privacy Policy (including
      the Terms and Conditions), kindly
      <span class="font-bold">DO NOT USE</span> Frenn or any of the Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn is solely responsible for its privacy practices as specified in this
      Privacy Policy, and only in relation to Personal Information provided by
      you to Frenn directly, or gathered by Frenn through your use of Frenn’s
      Platforms or any of the Services, or provided to Frenn through our
      Merchant Partners and/or affiliates.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If you use any of our Merchant Partners, you may also share your Personal
      Information with the relevant Merchant Partner. The Merchant Partner, not
      Frenn, is solely responsible for its own privacy practices. If your
      Personal Information is shared with Frenn by the Merchant Partner, then we
      will process and use the Personal Information so received in accordance
      with this Privacy Policy.
    </p>
  </div>
  <div id="scope" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Scope of Policy
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-3 mb-4"
    >
      This Privacy Policy (‘Policy’), as well as our Terms and Conditions,
      governs your use of:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        the Application available on the Google Play Store or Apple Store,
        directly or through the App Site upon downloading or streaming a copy of
        the Application to your mobile phone or equipment (‘Device’); and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        any of the services, programmes or features provided through Frenn
        (‘Services’).
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      For the purposes of this Policy,
      <span class="font-bold">“personal data”</span> includes Personal
      Information (as defined in the Terms and Conditions) and any information
      relating to an identified or identifiable natural person (‘data subject’).
      An identifiable natural person is one who can be identified, directly or
      indirectly, in particular by reference to an identifier such as a name, an
      identification number, location data, an online identifier or to one or
      more factors specific to the physical, physiological, genetic, mental,
      economic, cultural or social identity of that natural person. Personal
      data can be anything from a name, address, phone number, a photo, an email
      address, bank details, posts on social networking websites, medical
      information, and other unique identifier such as but not limited to MAC
      address, IP address, IMEI number, IMSI number, SIM, Personal Identifiable
      Information (PII) and others.
    </p>
  </div>
  <div id="data" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Data we collect from you
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      By consenting to this Policy, you hereby accept that we may collect and
      process the following data about you.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black my-3">
       Data you provide about yourself (volunteered data):
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      This may include information:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        provided in the course of the completion of onboarding and other data
        forms on any of Frenn’s Platforms;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        provided in any correspondence with us at Frenn (for example, via e-mail
        or chat);
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        provided through registration on any of Frenn’s Platforms, downloading
        or subscribing on the Application, registering for any of our Services,
        data sharing via the Application’s social media features, advertising or
        research, and when submitting a complaint on a problem with the
        Application, or any of our Services.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      This data includes but is not limited to your name, address, e-mail
      address, phone number, identification document, the phone number of the
      Device, SIM card details, age, username, password and other registration
      information, financial and credit credentials (including your mobile money
      account details, bank account details, and bank verification number, where
      necessary), personal and physical description and picture.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black my-3">
      Data you provide about yourself and your Device.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      When we receive an email or other kind of correspondence or communication
      from you, we may keep it in order to handle your queries and enquiries,
      act upon your requests, and enhance or improve on our services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      For every time you visit or use any one of Frenn’s Platforms or Services,
      we may automatically gather the following information:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        technical data, such as the type of Device you own and use for the
        purpose of our Application and Services, unique Device identifiers (like
        your Device's IMEI or serial number), credentials about the SIM card or
        mobile network service used on the Device, mobile network service
        provider data, your Device’s operating system, the type of browser
        utilised, or information about your Device’s location or yours and time
        zone setting (Device Information);
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        your Device storage information, such as your contact lists, call logs
        and history, SMS logs, contact lists from your social media pages,
        pictures, videos or other digital content (Content Information);
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        data from any other third-party application you use on the Device or the
        Service Sites; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        data on your use of any of our Applications or visits to any of our
        Service Sites, such as traffic statistics, location information,
        weblogs, and other forms of communication data (Log Information)
      </li>
    </ul>
    <p class="text-sm md:text-2xl font-bold text-black my-3">Location data.</p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      To ascertain your present location, we may utilise GPS technology or other
      location detecting services. By signing out and deleting the Application
      from your Device, you can withdraw your consent to our acquisition,
      processing, and utilisation of your information at any point in time.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black my-3">
      Data we receive from other sources (Third Party Data).
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We are obligated to deal with a variety of third parties (such as banks,
      credit reference agencies, identity verification and KYC companies and
      mobile network and internet service providers) as a result of the kind of
      services we offer, and we may obtain information about you from them.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black my-3">
      Unique application numbers.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      When you download or delete a Service with a unique application number, or
      when such a Service searches for automatic system updates, that number,
      relevant data or other credentials about your download, such as the
      operating system type, may be provided to us.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black my-3">
      Data from telephone conversations
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      When you contact our customer service, we may record and use our
      conversations and all data disclosed therein for quality assurance
      purposes or in connection with our services and shall notify you of the
      same at the beginning of any such recorded call.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Where you consent to direct marketing of any new product or Application
      feature, we may contact you via telephone to inform you of these new
      services before they are officially launched on the Application, App site
      or Service Sites. Such calls may also be recorded for documentation
      purposes.
    </p>
  </div>
  <div id="tracking" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Tracking and cookies
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      To differentiate you from other users of the Application, App Site, or
      Service Sites, we may employ the use of mobile tracking technology and/or
      website cookies. This enables us to offer you with a positive user
      experience when using the Application or browsing any of the Service
      Sites, as well as to enable us to develop and progress the Application and
      our Service Sites.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black my-3">
      Why we use Cookies
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Frenn makes use of cookies to provide a seamless user experience on its
      website and to also remember the choices/inputs made by you on the
      website. This helps Frenn serve you relevant products and services and
      also helps us improve the content and interactions on the website.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn takes consent of three broad categories of cookies as mentioned
      below:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Mandatory cookies These cookies are necessary for the website to
        function and cannot be turned off in our systems. Furthermore, you
        cannot disable cookies qualifying as mandatory cookies. These cookies
        are essential for smooth functioning of the Frenn website.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Functional cookies These cookies are primarily used for improved
        functionality and personalization. They may be set by us or by third
        party providers whose services we have added to our website. If you do
        not allow these cookies, some or all of these functionalities may not
        work properly.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Analytical cookies Analytical cookies allow us to measure the
        performance of our website and social media platforms from recognising
        and counting number of visitors to see which products our visitors view
        and are interested in or marketing campaigns/activities they engage
        with. This helps us to improve and develop the services and products we
        offer our customers and our marketing initiatives.
      </li>
    </ul>
    <p class="text-sm md:text-2xl font-bold text-black my-3">Cookie Consent</p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      When you visit the Frenn website for the first time you will be asked to
      provide your consent to cookies to be placed on your device. You can
      choose to accept all cookies or you can also choose to deny cookies except
      for the essential cookies that are necessary for the Frenn website to
      function properly.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Please be aware that if certain cookies are deactivated or denied, this
      may interfere with your overall experience and we may not be able to give
      you a seamless experience on the website. This may also hinder you from
      accessing , or applying to certain services/products related to Frenn.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If you amend the cookies or there is a change in cookies policy, then you
      may be required to provide a fresh consent the next time you visit the
      Frenn website
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      How to delete and avoid cookies
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Cookies are stored on your systems & browser locally, as such, we will not
      be able to retrieve or delete cookies. It can however be deleted. Since
      cookies are not stored in our systems but locally on your device, we are
      unable to retrieve or delete cookies. However, you can delete existing
      cookies on your device by using the guide below:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Internet Explorer
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Mozilla Firefox
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Google Chrome
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Safari iOS
      </li>
    </ul>
  </div>

  <div id="utilities" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Data utilities
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We may combine any classification of data with any other classification,
      and so long as the combined information remains so, we shall handle it as
      personal data in accordance with this Policy.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Data collected by us shall be used for the purpose of determining whether
      or not to provide Services to you, as well as to determine the terms and
      conditions applicable to the provision of any of our products and Services
      to you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Except in acquiescence with an order of a court, arbitral panel, tribunal,
      regulatory directive or order or any other legal or regulatory obligation,
      we will not share or disclose personally identifying data with third
      parties, but we may disclose such data anonymously about our average
      users.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Furthermore, your data can be used for risk analysis, fraud detection,
      creditworthiness assessment, risk management and monitoring, marketing,
      customer satisfaction surveys as well as other purposes that will enable
      us to provide the right services to you.
    </p>
  </div>
  <div id="access" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Consent and access rights
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      By consenting to this Policy, you agree that we may process your personal
      data in accordance with the terms and conditions set out in this Policy
      and subject to any laws or regulations governing the processing of
      personal data under Nigerian law.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We can process your personal data without your consent where:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        such processing is required to carry out a transaction to which you have
        been made privy, or to take actions at your request prior to the
        performance of a contract or to provide any of our products or Services;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        such processing is required in order to comply with a legal obligation
        or order to which you are a subject or party;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        such processing is required for the security of your vital, primary and
        important interests or that of another individual; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        such processing is required for the completion of a duty carried out in
        the interest of the public or to carry out an official public obligation
        entrusted to us.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If we decide to process or use your personal data for a reason other than
      the ones for which it was collected, we will seek to obtain your express
      consent before doing so.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You hereby consent that your personal data within our control may be
      transmitted, conveyed or assigned to third parties if we merge with or are
      taken over by another entity(ies) or company, trades or assigns all or a
      percentage of our business or assets to third parties (inclusive of any
      internal or external corporate restructuring or reformation, dissolution,
      or insolvency).
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Before your personal data is transferred, transmitted or conveyed to third
      parties in the circumstances outlined in this paragraph, we will ensure
      that you are informed prior to such transfer at all times.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      No consent shall be requested, granted, or accepted in any situation that
      may result in the direct or indirect transmission of atrocities, malice,
      contravention of children's rights, unlawful or illegal activities, or
      behaviour against public order.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You reserve the right to seek the alteration, adjustment or amendment of
      your personal data within our control.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In all cases of access or modification/amendment of personal data, we
      shall request sufficient identification to enable us to confirm that you
      are the owner of the data sought to be accessed or modified/amended.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We will require proper identification and verification in all cases of
      access, alteration or adjustment/amendment of personal data to ensure that
      the requested data truly belongs to you.
    </p>
  </div>
  <div id="subject" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Data subject's rights
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You have certain rights and privileges as a data subject in terms of how
      we treat your personal data. These rights include the following:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        where the lawful ground of our data processing is consent, to refuse or
        withdraw that consent at any time;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to request access to the personal data in our possession;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to avert our utilisation of the personal data for direct marketing or
        advertising uses;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to refuse our processing of your personal data under in certain
        conditions;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to request that we delete any history of your personal data immediately:
        <ul class="list-disc ml-6">
          <li
            class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
          >
            if it is no longer required in connection to the reasons or uses for
            which it was initially acquired;
          </li>
          <li
            class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
          >
            if the only lawful ground of processing the personal data is consent
            and that consent has been withdrawn by the user and there is no
            other lawful ground upon which the information can be processed;
          </li>
          <li
            class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
          >
            if you refuse to our processing of the information, where the lawful
            ground is in the interest of the general public; and
          </li>
          <li
            class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
          >
            if the processing is illegal.
          </li>
        </ul>
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to request us to correct or amend incorrect personal data or to complete
        any incomplete data;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to request a copy of the protections in place for the transfer of any of
        your personal data outside of Nigeria;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        the right not to be subjected to conclusions based solely on automatic
        processing, including profiling, unless it is required to enter into or
        perform a contract with us; or if it is based on your express consent
        and is subject to protections; or if it is permissible by law and is
        also subject to protections.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to be informed on the mobility of your personal data;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to be informed of any data breach or infringement that poses a high risk
        to your rights, freedoms or privileges;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to file a complaint or query to the National Information Technology
        Development Agency (NITDA) or any other regulatory agency; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to receive or request that your personal data be transmitted to a third
        party in an organised, frequently used, and machine-readable electronic
        layout in limited situations.
      </li>
    </ul>
  </div>
  <div id="personal" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Personal data protection principle
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      When we process your personal data, we are guided by the principles set
      out in the Nigerian Data Protection Regulation 2019 (NDPR) and any other
      relevant data protection laws or regulations applicable in Nigeria, which
      require personal data to be:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        processed lawfully;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        stored or used legally, respectfully, in a manner of integrity and with
        regard for the dignity of the individual;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Stored or used for what is specifically and expressly stated and for
        lawful grounds and not used in a way that is inconsistent with the said
        purposes;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        sufficient, appropriate, and restricted to what is required in
        connection to the usage purposes;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        correct and, if required, up-to-date;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        not stored in a manner that allows the data subject to be identified for
        longer than is required for the objectives for which the personal data
        is collected; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        stored in a secured manner, with adequate technological and managerial
        safeguards against unwarranted or illegal processing, as well as data
        leakage, corruption, or destruction.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In approving or disapproving Service Requests, Frenn shall act in good
      faith and will treat every Service Request from your Account as being from
      you or duly authorised by you. Accordingly, Frenn shall not be liable to
      you or any third party for any loss or damage you or such third party may
      suffer in consequence thereof.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn may, in its absolute discretion, refuse to approve all or part of a
      Service Request until it receives any additional Personal Information
      required for the purpose of that particular Service.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn reserves the right to impose such transaction or other limits on the
      Services or the ability of user accounts to access certain Services. Where
      such limits or restrictions are in place, Frenn shall not be under any
      obligation to act on Service Requests in excess of the limit or
      restriction. Where Frenn chooses to impose such limits, Frenn shall
      publish the applicable limits on Frenn’s Platforms and will notify you if
      an attempted transaction is in excess of the relevant limit or
      restriction.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In addition to these Terms and Conditions, you will be required to consent
      to additional terms and agreements where you require Services relating to
      provision of credit.
    </p>
  </div>
  <div id="party" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Third party access
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We will only transfer your personal data to other companies or third
      parties in the following restricted circumstances:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        when we have your permission;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        when we communicate your data with other reputable firms or individuals
        for the sake of handling or storing personal data on our behalf (these
        parties must consent to treat such data in accordance with our
        directives and in accordance with this Privacy Policy and any other
        relevant confidentiality and security measures, and with absolute
        discretion); or
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        we have a reasonable belief that admission, use, retention, or
        dissemination of personal data is necessary and appropriate to (a)
        comply with any relevant legislation, regulatory frameworks, judicial
        procedures, or enforceable governmental obligation, (b) implement
        applicable terms of service, including the inquiry into any potential
        breaches thereof; (c) identify, avoid, or otherwise resolve fraudulent
        activities, safety, or technical concerns, or (d) safeguard us, our
        users/subscribers, or the general public from impending damage to their
        rights or property as necessary or authorised by law.
      </li>
    </ul>

    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We are always liable for the safety and suitable use of your personal data
      for so long as it is within our control.
    </p>
  </div>
  <div id="responsibility" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      User responsibility
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You must read and understand this Policy and verify that the information
      you give to us is comprehensive, genuine, and current.
    </p>
  </div>
  <div id="disclosure" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      disclosure of your information
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We may share any or all of the data we acquire from you with credit
      reference bureaus, in accordance with clause D(a) above.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We may share your personal details with any of our associates or
      affiliates, such as our branches, holding company, and subsidiaries.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We may share your personal details with third parties:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        in the event that we transfer or purchase any business or interests, in
        which situation we may share your personal data to the potential
        purchaser or vendor of such business or assets;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        if we are substantially taken over or all of our assets are obtained by
        a third party, and personal data stored by us about our subscribers is
        among the transmitted assets;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        if we are required to disclose or if we are under a legal or regulatory
        obligation to disclose your personal data or upon request,
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to enforce our Terms and Conditions and other obligations, or to
        thoroughly investigate violations;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to any credit bureaus for the purpose of targeting or offering you with
        relevant products; and/or
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to report agreement or loan defaulters to any credit bureau or
        third-party debt recovery agencies; or for the objective of releasing
        statistics on the Application's use, in which instance all data will be
        consolidated and made confidential.
      </li>
    </ul>
  </div>
  <div id="store" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      where we store/transfer your data
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      The data that we obtain from you may be shared with, and/or processed at,
      a location outside Nigeria.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      By agreeing to this policy, you also give us permission to transmit your
      personal data outside of Nigeria to other Frenn Group businesses or third
      parties, with the knowledge that the information would be utilised for the
      reason stated in our agreements or terms of use with you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Transmission of personal data to jurisdictions outside Nigeria must be
      governed by the Honourable Attorney General of Nigeria (HAGF) under the
      NDPR and the Implementation Framework for the NDPR, except where you agree
      to us transmitting the personal data abroad without obtaining the HAGF's
      prior approval. We are obligated to inform you that your personal data may
      be transmitted outside Nigeria to any other country where a Frenn company
      or subsidiary is formed. The NDPR provides that the recipient countries or
      destinations must be explicitly mentioned (“Foreign Recipients”). You
      expressly agree to the transmission of your personal data to any of the
      Foreign Recipients by using our Services or Service Sites.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We guarantee you that we will keep your personal data secure while it is
      within our control, and we certify that the data security procedures that
      we use in Nigeria and at the Foreign Recipients are sufficient and in line
      with international best practices for data protection, privacy and
      security in order to secure and keep your personal data safe.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We verify that we take appropriate tangible measures, strategic planning,
      and technical actions to safeguard your personal data against unwarranted
      access, utilisation, dissemination, adjustment, destruction, or other
      forms of unlawful handling, including the creation of an access
      authentication process and surveillance system, password protection, and
      encryptions.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      By consenting to this Policy, you consent to the acquisition,
      transmission, storage, or use of your personal data in the procedure
      outlined above.
    </p>
  </div>
  <div id="security" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Data security
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We have and maintain adequate measures to protect personal data,
      considering the dangers that unlawful or illegal storage and treatment as
      well as destruction of data, deletion, or corruption to their personal
      data, pose to you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      When encryption, passwords or two-step authentication procedures are
      suitable, they will be used to protect personal data. This also involves
      safeguarding the personal data's secrecy (i.e., ensuring that only
      authorised persons use it have accessibility to it), integrity, and
      accessibility. We assess and verify the efficacy of such measures on a
      regular basis to ensure the confidentiality of the personal data of our
      data subjects.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      It is your duty to safeguard your password, if we have provided you (or
      you have selected) one that allows you to access specific sections of our
      Service Sites. We request that you do not disclose your password to
      anybody.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Regrettably, information transfer via the internet is not always
      confidential. Despite our best efforts to secure your personal data, we
      cannot assure the safety of the information you submit to our Service
      Sites; any communication is at your own risk. We will employ rigorous
      processes and security mechanisms to try to prevent unapproved access
      after we have obtained your information. While we make every effort to
      preserve the safety of your data and are continually assessing and
      improving our security procedures, we cannot assure you of complete
      protection. As a result, we disclaim any and all liability for any harm or
      loss resulting from mere transmission via the internet or electronic
      storage, regardless of the source.
    </p>
  </div>
  <div id="links" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Links to third party sites
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Other internet sites or domains belonging to and controlled by third
      parties may be accessed from our Service Sites. These links are given just
      for your reference and do not imply that Frenn endorses those internet
      sites or domains, or the third parties connected thereto. If you access
      the link to these internet sites, the information we gather from you will
      become accessible by them. We have no influence over them and cannot be
      responsible for these internet sites.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      As a result, Frenn offers no explicit or implied guarantees or claims
      concerning the safety of such associated domains or internet pages, their
      proprietors or administrators, or the appropriateness or quality of
      information contained on them. This Privacy Policy does not extend to
      these internet sites or domains.If you choose to browse and/or use the
      information on these connected third-party internet sites or domains, you
      do so solely at your own risk. We shall not be liable or responsible for
      any harm or injury incurred as a result of browsing, using, or relying on
      any information, material, commodities, or services provided on or
      accessible via any such related internet sites or domains, regardless of
      the reason.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We recommend that you communicate with those internet pages or domains
      directly for any clarity on the information contained therein, or on their
      privacy policy, safety, data acquisition and transfer policies.
    </p>
  </div>
  <div id="rights" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      your rights
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We will utilise your data in the compilation of statistics on our user
      base, loan database, and any other product, Application feature, or
      service we offer, and we may share such data to third parties for such
      reasons, as long as the information remains confidential.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If we decide to use your information for branding or promotional purposes,
      we shall seek your permission before such use. You have the right to
      object to such use by notifying us within 10 (ten) days of being notified
      of the intended use that you do not consent to your information being
      disclosed. You can also invoke your right at any time by sending an email
      to
      <a href="mailto:help@frenn.com." class="text-black font-bold"
        >help@frenn.com.</a
      >
    </p>
  </div>
  <div id="access2" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Access
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You reserve the right to be informed on the type of your personal data
      that is in our possession. We will respond to your requests for disclosure
      of such information and supply you with a copy of your personal data that
      we have on record at the time of your request. You have the right to
      demand that your personal data in our control be updated or rectified. We
      will need adequate identification in all situations of request or
      alteration of personal data to establish that you are the true owner of
      the data requested to be accessed or rectified.
    </p>
  </div>
  <div id="privacy" class="section pb-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      violation of privacy policy
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We have systems and procedures to manage any alleged cybersecurity
      incidents or violations, and we will inform you of any such incidents or
      violations, as well as the efforts we have made to address them and the
      safety precautions we have implemented to render your personal data
      incomprehensible.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      All alleged violations of personal data shall be remedied in a timely
      manner, but in any case, within 1 (one) month of the incident being
      reported.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If you believe or know that a personal data violation or leak has
      happened, please notify Frenn staff at
      <a href="mailto:help@frenn.com" class="font-bold">help@frenn.com</a>
      immediately.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We will not be held liable for any personal data violations or cyber
      security incidents which happen because of:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        an incident beyond Frenn's control;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        a terrorist act or threat;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        a natural disaster (including, but not limited to, fires, explosions,
        earthquakes, drought, tidal waves, and floods) that undermines Frenn's
        data protection procedures;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        war, hostilities (whether proclaimed or not), invasion, foreign enemy
        action, deployment, demand, or boycott; civil war public uproars or
        riots, revolution, insurrection, or military or usurped power, or civil
        war which undermines Frenn’s data protection procedures;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        the transmission of your personal data to a third party on your
        directives; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        the processing of your personal data by a third party appointed by you.
      </li>
    </ul>
  </div>
  <div id="retention" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Data Retention
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      We will preserve and process your personal data for as long as required to
      conduct, manage, and oversee your agreement with us, or as long as it is
      required to be in accordance with legal or regulatory requirements, such
      as those imposed by tax and security legislation. In order to comply with
      our regulatory responsibilities, we may store your data for 5 (five) years
      (or for such timeframe as may be required by law) after we receive a
      request for deactivation or erasure from you. If you owe us a debt or owe
      us a responsibility, we will keep your personal data.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Nonetheless, a request for erasure or deletion will inevitably be denied
      in whole or in part, if it would infringe on a constitutionally or legally
      protected right, or affect a legal duty. Frenn will provide you with the
      exact reason(s) for refusing a request for erasure as soon as feasible,
      but no later than one month after receiving the request for erasure.
    </p>
  </div>
  <div id="changes" class="section pt-16 md:pt-24">
    <h1 class="text-lg md:text-[40px] font-bold text-grayDark capitalize">
      Changes to privacy policy
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Any future modifications to this Policy will be published on this webpage
      and, where applicable, communicated to you when you use the Application or
      log into one of the Service Sites. The revised terms may appear on-screen,
      and you may be asked to review and agree to them in order to continue
      using the Application or Services. In any case, by your continuous usage
      of the Application or any Services after such modifications are posted,
      you indicate your continued consent of this Policy, including any
      modifications, and your agreement to the conditions outlined therein.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Any queries, questions, comments and requests relating to this privacy
      policy will be well entertained and should be sent via email to
      <a href="mailto:help@frenn.com." class="text-black font-bold"
        >help@frenn.com.</a
      >
    </p>
  </div>
</div>
