<div class="md:ml-16 pb-9 md:pb-24">
  <div id="intro" class="section">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Frenn credit line / loan terms
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    ></p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      These Terms and Conditions were last updated on 10.5.2022
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      This section covers the delivery of credit line facilities to You. Before
      agreeing to these Credit Line/Loan Terms, you must agree to our general
      Terms and Conditions and Privacy Policy. Please note that in addition to
      these Credit Line/Loan Terms, the provisions of Frenn’s general Terms and
      Conditions and Privacy Policy are also applicable here and are
      incorporated by reference. All capitalised terms used herein, unless
      otherwise defined, have the same meanings given to them in our Terms and
      Conditions.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black mt-6 mb-3">
      How credit line works
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Onboarding to the Application
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn credit line will be made available to you via our communication
      channels or in the Application, after fulfilling the necessary
      requirements.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We will request for certain details from you, such as your name, date of
      birth, BVN, phone number, etc. Please refer to our Terms and Conditions
      and Privacy Policy for how we manage Personal Information collected from
      you. You also agree to our use of the details you provided, from your
      Equipment or other data banks for the purpose of guaranteeing your credit
      line access.
    </p>
  </div>
  <div id="credit" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Credit Line Access
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-3 mb-4"
    >
      You can access a credit line in our Application.We will give you a credit
      limit from which you can utilise as presented in your downloaded Frenn
      Application. You can then borrow up to that amount and continue utilising
      it, as long as you repay what you borrow. There is a fixed repayment
      schedule for each utilisation. The type of information we will request
      from you and the extent of it depends on the credit limit you will be able
      to access. Any credit line accessed and utilised from the Application is
      deemed authorised by you, unless you have notified us of fraud within a
      reasonable time.
    </p>
  </div>
  <div id="evaluation" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Credit Line Evaluation
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-3 mb-4"
    >
      Once you are signed up on our Application, we will conduct our internal
      checks, assessments and procedures, and you will be informed of our
      decision of a credit line offer to you. The amount you have access to is
      dependent on several factors, such as your credit score and verifiable
      income. The credit limit is constantly monitored and adjusted according to
      your risk profiling.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Based on our assessment of your creditworthiness, we will present an offer
      of a credit limit to you which will give you access to a credit line that
      you can utilise in accordance with the terms provided on your Frenn app
      account.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn reserves the right to approve or decline a credit line access even
      if you had previously been granted a credit line. We hold the right to
      change the terms of any credit line agreement depending on our evaluation
      of the creditworthiness of each borrower.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      As part of the review process, we may request your data from third parties
      such as Credit Bureaus, you may also be required to provide certain
      information (such as a bank statements/statements of account) for our
      evaluation.
    </p>
  </div>
  <div id="utilisation" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Credit Line Utilisation
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-3 mb-4"
    >
      You can request to utilise your credit line up to the credit limit as
      presented to you in the Application. We will subsequently show you
      stipulated terms for each utilisation based on our evaluation via the
      Application.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      The fee terms may differ for each utilisation of the credit line. The
      particulars of any successful credit line utilisation –principal amount,
      interest payable, repayment due dates or any other applicable fees or
      charges, will be provided on the Application or on request or by other
      means of communication provided, and such particulars will be based on
      Frenn’s evaluation of your credit profile.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You may accept or reject these Credit Line/Loan Terms via the Application.
      <span class="font-bold">
        Please note that our presentation of the Credit Line/Loan Terms does not
        constitute execution of an agreement on the part of Frenn and your
        request remains subject to further fraud and creditworthiness checks.
      </span>
      Alterations made to the terms of any active utilised credit line will be
      communicated to you thirty (30) days in advance of such alteration.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Bank Account/Card Auto Debit:</span>
      In the process of accepting our Credit Line/Loan Terms, you are required
      to link your credit line access to your designated bank account/payment
      card through one of our designated service providers for our auto debit
      process. Kindly note that certain fees may apply in linking your card or
      account for these purposes.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Disbursement Account:</span> When you choose to
      utilise your credit line as a cash loan, you will be required to provide
      your bank account in your name for disbursement of the credit line sum to
      you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Transaction PIN:</span> You will be required to
      insert your transaction PIN for signing/approving the utilisation of your
      Credit Line.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Fraud Checks:</span> We reserve the right to
      decline any credit line access even after the Credit Line/Loan Terms have
      been signed/accepted by you, based on our internal fraud checks. We shall
      have no liability to you whatsoever for any credit line access declined at
      any stage. We shall not charge or debit your account or card if any credit
      line access is cancelled at this stage, with the exception of any fees
      paid in the linking of your bank account/payment card to our Application,
      which are charged by the relevant service providers (or by us where we had
      to verify your account or card details).
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Upon conclusion of our fraud checks and your signing of the Credit Line
      Offer,
      <span class="font-bold"
        >the Credit Line/Loan Terms shall only become binding between you and
        Frenn upon utilisation of the credit line which can be</span
      >
      accessed for the purposes provided on your Frenn app account. Upon
      utilisation of the credit line, a notification will be communicated to you
      via the Application or other communication channels.
      <span class="font-bold"
        >For the avoidance of doubt, any utilisation of a credit line will
        subsequently be referred to as a “Loan”.</span
      >
    </p>
  </div>
  <div id="servicing" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Loan servicing
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-3 mb-4"
    >
      <span class="font-bold">Auto Debit:</span> Our primary repayment option
      for your loan is through our auto-debit feature, which is an automated
      repayment model using direct debits from your linked auto-debit bank
      account/card.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Alternate Repayment Models:</span> We will also
      provide you with alternative options for repayments, such as cash payments
      via a service provider or other bank branch, or a one-time bank transfer.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If you elect to use any of our alternative repayment models, we will
      provide you with a unique, customer-specific repayment account (NUBAN)
      which must be used for the purpose of your repayments.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Overpayments:</span> In the event that you
      mistakenly overpay in the process of repaying a loan all overpaid amounts
      shall be treated as pre-payments towards your next due date. In the event
      of an overpayment with no outstanding balance remaining, upon provision of
      due evidence of the same to the satisfaction of our Customer Support team,
      we will provide you with the applicable refund within a reasonable time.
      Transaction costs might apply and be deducted from the overpayment amount
      returned to your account.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">Full repayment:</span> If you wish to repay your
      entire outstanding balance before the due date in one lump sum, you are
      required to contact us at help@frenn.com in order for us to prepare the
      terms for such repayment. We will provide you with these modified
      repayment terms and you will be required to accept the terms prior to
      making any such repayment.
    </p>
  </div>
  <div id="bureaus" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      CREDIT AND KYC CHECKS
    </h1>
    <p class="text-sm md:text-2xl font-bold text-black mt-6 mb-3">
      Credit Reference Bureaus
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-3 mb-4"
    >
      We may demand your Personal Information, credit profile, credit related
      transactions and other credit related information about you from Credit
      Reference Bureaus to ascertain and monitor your creditworthiness, as well
      as offer you select products or services. You agree that we may acquire
      such details from the bureaus and consent to the disclosure of your
      Personal Information to the bureaus.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      As part of our regulatory compliance processes, we may disclose details of
      your loan (including any default on the provisions of the Terms and
      Conditions or of the Credit Line/Loan Terms) with Credit Reference Bureaus
      and regulators.
    </p>
  </div>
  <div id="bank" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Bank Statements
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      We have the right to request bank statements for linked accounts. By
      linking such bank account/payment card, you hereby authorise Frenn or our
      service providers to request and generate your bank statement for
      evaluation and KYC checks.
    </p>
  </div>
  <div id="rights" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Rights and obligation as a borrower
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      As a borrower, You:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        warrant to remit all sums including principal, interest (inclusive of
        default interest where applicable), fees, taxes, or any other sums that
        are due to us on the agreed dates using the payment channels that will
        be communicated;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        shall be held liable for the refunding of any credit line you utilised,
        granted to you by Frenn; and:
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        must ensure that your bank accounts are funded before repayment due
        dates. You hereby permit us to charge any other bank accounts stated
        against your name after failed attempts on any of your accounts or
        payment cards. You shall also insure us for any charges or fees accrued
        in connection with failed direct debits on your bank accounts or cards.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        shall not put the proceeds of the loan to any illegal or criminal use
        including money laundering or financing of terrorism or any other
        unlawful acts.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        shall aid Frenn whenever required for the realisation and remittance of
        any outstanding payments due to us.
      </li>
    </ul>
  </div>
  <div id="fees" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Interest and fees
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Any interest and where applicable, transaction fees (including all fees
      stated in clause 1.8 above), accrued on your loan shall be listed and
      stated on the loan summary. We may occasionally amend or alter the
      interest or transaction fees, and such alterations will not be
      retrospective and will be communicated to you within thirty (30) days
      before such changes are affected including displaying notifications of the
      changes on the Application or via other provided means of communication,
      or by sending SMS messages.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Any failure to remit payments as at when due will result in Frenn charging
      default interest or late payment penalties on such outstanding sums at a
      rate you will be notified of, subject to applicable rules and guidelines
      in force on the same.
    </p>
  </div>
  <div id="loan" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Default on loan
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      An event of default <span class="font-bold">(“Default”)</span> occurs
      when:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        there is a failure on your part to pay any sum payable under a utilised
        credit line in accordance with a scheduled repayment;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        information, warranty or assurance provided by you in connection with
        the credit line access , or any information or documentation supplied by
        you is incorrect, inaccurate or misleading;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you are involved in any activity which may prejudice Frenn’s rights
        under these Terms and Conditions;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you use or attempt to use the Services for an unauthorised purpose;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you are declared bankrupt, insolvent or incapable of paying your debts
        as they become due under the laws of the Federal Republic of Nigeria; or
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you are in violation of any of the provisions stipulated in the Terms
        and Conditions.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      At any time after a default has occurred, Frenn may, without prejudice to
      any other right or remedy granted to it under any law:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        terminate the Credit Line/Loan Terms;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        declare the loan (and all accrued interest and all other amounts
        outstanding) under these Credit Line/Loan Terms immediately due and
        payable;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        enforce its rights to recover the loan by exercising all the rights
        available to a lender under the Nigerian law including but not limited
        to the set off rights detailed below, the right to assign the
        outstanding loan sum to collection agencies, amongst others; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        supply information regarding the default to Credit Reference Bureaus. A
        copy of any information sent to a Credit Reference Bureau relating to
        you shall be made available to you by Frenn upon your written Request.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Frenn reserves the right to assign its rights, title and interest in the
        loan line at any time during the transaction lifecycle, as well as to an
        external collections agency charged with the responsibility of taking
        reasonable steps to collect the outstanding loan (together with accrued
        interest), and pursuant to this, Frenn shall have the right to share
        with such designated collection agencies any information about you
        (inclusive of transaction history, Personal Information, relevant
        information) which it deems relevant.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Frenn also reserves the right to institute legal proceedings against you
        for the recovery of the loan without giving you any prior notice.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        All legal costs incurred by Frenn in connection with any enforcement
        action taken by Frenn or the collection agency for the collection and
        repayment of the loan (together with any interest or fees due on the
        Loan) shall be borne by you.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In the event of the occurrence of a default, Frenn is granted the right to
      inform the borrower and any other person who may assist with the recovery
      of the outstanding loan amount. It is hereby agreed that this notification
      may be done by any means of communication which Frenn considers
      appropriate.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Where any loan or any amount is due and remains unpaid following the due
      date, we have your authorisation to set off any amount outstanding from
      your debit card or any of your accounts provided, to repay the outstanding
      loan amount without prior recourse to you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Where any loan or any amount is due and remains unpaid following the due
      date, default interest shall accrue on the outstanding amount per each day
      of default until the loan or the said amount is totally repaid.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Where it is established that any loan was obtained fraudulently, Frenn has
      the right to deduct the full amount of the loan before its due date.
    </p>
  </div>
</div>
