<div class="ml-16">
  <div id="intro" class="section">
    <h1 class="text-[40px] font-bold text-grayDark capitalize">Introduction</h1>
    <p class="text-base text-[#686666] mt-5 mb-4">
      A. Thank you for choosing Frenn to finance your purchase. This is a credit
      agreement which applies whenever you use Frenn’s buy-now-pay-later (BNPL)
      service to finance your purchase of goods and services from any of our
      Merchant Partners.
    </p>
    <p class="text-base text-[#686666] mb-4">
      B. These BNPL Terms constitute a valid and enforceable agreement between
      you and Frenn in relation to your use of the Frenn BNPL service. The
      contracting party for the purpose of legal capacity and enforceability is
      Frenn Credit Limited, a company incorporated under the laws of the Federal
      Republic of Nigeria. By using Frenn BNPL service, you represent that you
      are at least twenty-one (21) years old.
    </p>
    <p class="text-base text-[#686666] mb-4">
      C. Please note that in addition to these BNPL Terms, the provisions of
      Frenn’s general Terms and Conditions and Privacy Policy are also
      applicable to your use of the Frenn BNPL service and are incorporated by
      reference.
    </p>
    <p class="text-base text-[#686666] mb-4">
      D. Together, these BNPL Terms, the general Terms and Conditions, and the
      Privacy Policy set out the entire agreement on the terms and conditions on
      which Frenn will finance your purchase under the Frenn BNPL service. Where
      there is any conflict between the provisions of these BNPL Terms and any
      provision in the general Terms and Conditions, these BNPL Terms shall
      prevail. If these BNPL Terms are silent on any matter, the relevant
      provisions of the general Terms and Conditions and Privacy Policy shall
      apply.
    </p>
  </div>
  <div id="definitions" class="section pt-24">
    <h1 class="text-[40px] font-bold text-grayDark capitalize">
      Definitions and Interpretation
    </h1>
    <p class="text-2xl font-bold text-black my-3">1.1. Definitions</p>
    <p class="text-base text-[#686666] mb-4">
      In these BNPL Terms, unless the context provides otherwise:
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Account”</span>
      means your personalised account with Frenn which grants you the ability to
      access Frenn’s Platforms and Services.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Agreement”</span> means these BNPL Terms.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Application”</span> means the Frenn BNPL
      application owned and operated by Frenn.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Authorised Bank Account”</span>
      means the bank account you have registered on your Account for the purpose
      of Repayment.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Authorised Bank Card”</span> means a valid and
      subsisting bank debit card in your name, which you have registered on your
      Account for the purpose of Repayment.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Bank Account”</span>
      means your account with any bank licensed by the Central Bank of Nigeria.
    </p>

    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Business Day”</span> means a day other than a
      Saturday, Sunday or public holiday in Nigeria on which banks in Lagos are
      open for business
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Credit Amount”</span> means the amount of Frenn
      BNPL credit granted to you under this Agreement and reflected in your
      Account.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Default Fees”</span> means the fee you are
      charged for failure to make Repayment within the Repayment Period.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Frenn”</span> means Frenn Credit Limited,
      registered under the Laws of the Federal Republic of Nigeria.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Frenn BNPL”</span>
      means Frenn Buy-Now-Pay-Later services provided as part of Frenn’s
      money-lending services.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Frenn Widget”</span> means Frenn’s e-commerce
      payment gateway available on the e-commerce websites of Merchant Partners
      to enable their customers apply for and obtain Frenn BNPL service at
      checkout.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Merchant Partner”</span> means any entity that
      has executed a Merchant Partner Agreement with Frenn.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Repayment”</span> means your payment to Frenn of
      the Credit Amount.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Repayment Plan”</span> means the method, timing,
      and amounts for Repayment agreed between you and Frenn.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Repayment Period”</span> means the 30-day period
      starting from the approval of your application and the reflection of the
      Credit Amount in your Account to the Payment Due Date.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“SMS”</span> means a short message service
      consisting of a text message transmitted from one mobile phone device to
      another and vice versa.
    </p>
    <p class="text-base text-[#686666] mb-4">
      <span class="font-bold">“Payment Due Date”</span> means the day on which
      the Repayment Period expires.
    </p>
    <p class="text-2xl font-bold text-black my-3">1.2. Interpretation</p>
    <p class="text-base text-[#686666] mb-4">
      1.2. Interpretation In these BNPL Terms, unless the context suggests
      otherwise:
    </p>
    <p class="text-base text-[#686666] mb-4">
      (a) the singular shall include the plural and vice-versa;
    </p>
    <p class="text-base text-[#686666] mb-4">
      (b) any mention of one gender, whether masculine or feminine, includes the
      other; and
    </p>
    <p class="text-base text-[#686666] mb-4">
      (c) all the headings and sub-headings in these BNPL Terms are solely for
      expediency and shall not affect the interpretation of these BNPL Terms.
    </p>
  </div>
  <div id="eligibility" class="section pt-24">
    <h1 class="text-[40px] font-bold text-grayDark capitalize">Eligibility</h1>
    <p class="text-base text-[#686666] mt-5 mb-4">
      To qualify for the Frenn BNPL service, you must:
    </p>
    <p class="text-base text-[#686666] mb-4">
      (a) be lawfully resident in the Federal Republic of Nigeria;
    </p>
    <p class="text-base text-[#686666] mb-4">
      (b) be of full legal age and capacity to enter into contractual
      agreements; (c) consent to security and background checks on your credit
      worthiness; and (d) have a Bank Account and a valid and subsisting payment
      card in your name.
    </p>
    <p class="text-base text-[#686666] mb-4">
      (c) consent to security and background checks on your credit worthiness;
      and
    </p>
    <p class="text-base text-[#686666] mb-4">
      (d) have a Bank Account and a valid and subsisting payment card in your
      name.
    </p>
  </div>
  <div id="apply" class="section pt-24">
    <h1 class="text-[40px] font-bold text-grayDark capitalize">
      Applying for Frenn BNPL
    </h1>
    <p class="text-base text-[#686666] mt-5 mb-4">
      You may apply for the Frenn BNPL service in any of the following ways:
    </p>
    <p class="text-base text-[#686666] mb-4">
      (a) directly on the Application; or
    </p>
    <p class="text-base text-[#686666] mb-4">
      (b) through a Frenn Widget at checkout on the e-commerce websites of any
      of our Merchant Partners.
    </p>
    <p class="text-base text-[#686666] mb-4">
      In either case, you must have an Account before you can apply for Frenn’s
      BNPL service. If you do not have a pre-existing Account, you will be
      required to open one and link the required Authorised Bank Account and
      Authorised Bank Card through one of our designated service providers. If
      your bank is not supported by our designated service provider, you will be
      required to provide the details of your Authorised Bank Account and
      Authorised Bank Card to us directly (which will go through a separate
      verification process). By linking your Authorised Bank Account and
      Authorised Bank Card, you thereby authorise Frenn or our service providers
      to request for and generate your bank statement for evaluation and
      know-your-customer checks. Kindly note that certain fees may apply in
      linking your card or bank for these purposes.
    </p>
  </div>
  <div id="accept" class="section pt-24">
    <h1 class="text-[40px] font-bold text-grayDark capitalize">
      Acceptable use restrictions
    </h1>
    <p class="text-base text-[#686666] mt-5 mb-4">
      When you send your application for the Frenn BNPL service, we will send
      you a notice acknowledging receipt and commence a comprehensive review of
      your application and credit worthiness. In reviewing your application, we
      will consider several factors including your earning history, credit
      history, credit score, and other information that may impact on your
      ability to pay your debts as they fall due. Our review will be extensive
      to cover compliance with regulations on know-your-customer, anti-money
      laundering, and combating the financing of terrorism. For this purpose,
      you hereby grant us consent to use, process and obtain your Personal
      Information from Credit Reference Bureaus and similar entities. Please
      read our Privacy Policy for information on how we collect, process, store,
      secure, and use your Personal Information.
    </p>
    <p class="text-base text-[#686666] mb-4">
      4.1.1. You acknowledge that all intellectual property rights in the
      Application and its technology are our sole properties or belong to our
      licensors, and that rights in the Application are only licensed to you as
      a user and shall exclude any sale or assignment, in accordance with these
      Terms and Conditions, and that you have no rights or privileges in, or to,
      the Application or its technology apart from the user rights in conformity
      with these Terms and Conditions.
    </p>
    <p class="text-base text-[#686666] mb-4">
      When you apply for the Frenn BNPL service, we will make a full credit
      search with Credit Reference Bureaus who will supply us with credit
      information on you. These Credit Reference Bureaus will record details of
      the search, which may be seen on your credit file, whether or not your
      application is approved. This record may be visible to third parties and
      may affect other organisations’ future decisions on whether or not to
      provide you with credit. We will report information to Credit Reference
      Bureaus on the payments you make, and on any payments that you fail to
      make on time. If we do not approve your application, you will receive a
      failure notice from us. If our decision not to grant your application is
      based on information supplied by a Credit Reference Bureau, we may provide
      you with details of the relevant Credit Reference Bureau via email.
    </p>
    <p class="text-base text-[#686666] mb-4">
      Our decision on whether to approve or decline your application for the
      Frenn BNPL service is dependent on the outcome of our comprehensive review
      of your application and your credit worthiness. We are not under any
      obligation to approve your application and, if your application is
      declined, we are not under any obligation to provide any reason for our
      decision.
    </p>
    <p class="text-base text-[#686666] mb-4">
      Each application shall be considered on its own merit and your application
      may be declined even if you had previously used the Frenn BNPL service or
      any of the other Services provided by Frenn.
    </p>
    <p class="text-base text-[#686666] mb-4">
      Frenn reserves the right to impose purchase limits, transaction limits or
      daily limits and shall be under no obligation to process any application
      in excess of such limits. Where Frenn chooses to impose such limits, Frenn
      shall publish such limits on the Application and App Site and would notify
      you if an attempted transaction is in excess of such limits.
    </p>
  </div>

  <div id="approve" class="section py-24">
    <h1 class="text-[40px] font-bold text-grayDark capitalize">
      Approving your Frenn BNPL application
    </h1>
    <p class="text-base text-[#686666] mt-5 mb-4">
      If, after our comprehensive review, a decision is made to approve your
      application for the Frenn BNPL service, you will receive a notice (on the
      Application and by email) of the approval, the approved Credit Amount, and
      the Repayment Plan.
    </p>
    <p class="text-base text-[#686666] mb-4">
      Where your application is granted as received, Frenn will post the Credit
      Amount on your Account and proceed to pay the relevant Merchant Partner
      for the goods and/or services you have ordered, without you needing to
      make any immediate payment. If you have not ordered any goods or services
      yet but have simply pre-applied for the Frenn BNPL service to finance your
      shopping, the approved Credit Amount will be posted on your Account and
      may be used by you to pay for goods and services whenever you need to.
    </p>
    <p class="text-base text-[#686666] mb-4">
      Frenn is not under an obligation to grant approval for the full amount
      requested by you. If our review of your credit worthiness does not provide
      full comfort on your ability to repay the full amount you requested in
      accordance with our Repayment Plan, Frenn may (in its absolute discretion)
      grant approval for an amount lower than your requested amount. Where this
      is the case, Frenn will send you notice (on the Application and by email)
      of the offer of the reduced amount and the Repayment Plan. If you accept
      this offer, you will receive a notice (on the Application and by email) of
      the approval, the approved Credit Amount, and the Repayment Plan.
    </p>
  </div>
</div>
