<header
  class="h-[900px] md:h-[713px] bg-gray relative top-[50px] md:top-[70px]"
>
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="grid md:grid-cols-2 h-full">
      <div class="pt-[26px] md:pt-[85px]">
        <h1
          class="text-darkBlue text-[28px] md:text-[50px] md:leading-tight font-bold md:max-w-[442px]"
        >
          Your <span class="relative d-text z-10"> Dreams </span> Are
          <br class="block md:hidden" />
          Easy With Us
        </h1>
        <p
          class="mt-[13px] md:mt-[29px] text-base md:text-[32px] text-darkBlue font-semibold"
        >
          Experience the lifestyle
        </p>
        <p
          class="md:max-w-[502px] mt-1 md:mt-3 text-[10px] md:text-lg text-grayLight text-opacity-60"
        >
          Meet the friendliest app in the world that links you up with
          <br class="block md:hidden" />
          the life you desire
        </p>

        <form action="#" class="mt-[30px] md:mt-[38px]">
          <!-- <label for="phone" class="text-black text-sm md:text-base font-medium"
            >Get Downland Link on Mobile
          </label>
          <br />
          <div class="relative md:w-[486px]">
            <input
              type="number"
              placeholder="Enter Phone Number"
              class="w-full md:w-[486px] h-10 md:h-[50px] text-xs md:text-base border border-[#DADADA] px-3.5 md:px-7 py-5 outline-none shadow-none rounded-[5px] mt-1.5 md:mt-[13px]"
            />
            <button
              class="hidden md:block w-[103px] h-[49px] top-3.5 uppercase text-black text-xl bg-primary rounded-[5px] send-btn absolute right-0"
            >
              send
            </button>
          </div> -->
        </form>

        <div
          class="mt-8 md:mt-12 md:w-[486px] rounded-xl h-[77px] md:h-[125px] bg-blue flex items-center pt-[15px] px-4 pb-4 md:p-6 qr-box"
        >
          <img
            src="assets/images/qr.png"
            alt="Frenn mobile app qr code"
            class="w-[47px] h-[47px] md:w-[78px] md:h-[78px] rounded-lg"
          />
          <div class="ml-5">
            <p class="text-white text-[10px] md:text-sm">
              Use your phone camera to scan and download the frenn app
            </p>
            <p
              class="text-white text-xs md:text-sm mt-[9px] md:mt-[17px] font-bold"
            >
              Available on Android
            </p>
          </div>
        </div>
      </div>
      <div
        class="relative h-full flex items-center justify-center z-10 w-full scale-[1.15] mt-8"
      >
        <div
          class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 md:w-[421px] md:h-[421px] border-[40px] border-light rounded-full -z-10 scale-10"
        ></div>
        <img
          src="assets/images/phone.png"
          alt="Frenn mobile app"
          class="mt-[25px] md:mt-12 w-[330px] h-[397px] md:w-[490.83px] md:h-[559px] object-contain"
        />
      </div>
    </div>
  </div>
</header>
