<div class="bg-[#EFF1F8] py-10 md:py-36">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="md:flex item-center justify-between">
        <div>
          <div
            class="w-[124px] md:w-[158px] h-[23px] flex items-center justify-center md:h-8 px-[17px] py-0.5 bg-blueLight text-xs md:text-lg text-blue capitalize font-semibold rounded-[10px]"
          >
            coming soon
          </div>
          <h1
            class="text-[25px] md:text-[60px] font-bold text-black capitalize"
          >
            frenn savings
          </h1>
          <p class="md:mt-2.5 text-paragraph text-xs md:text-lg max-w-[411px]">
            Whether it's a dream holiday destination, or that favorite item
            you've been saving up for. We know how tough putting money aside can
            be, but Frenn makes it simple.
          </p>
        </div>
        <div>
          <img
            src="assets/images/savings-bg.png"
            alt="savings woman image"
            class="mt-[30px] md:mt-0 w-[234px] h-[252px] mx-auto md:mx-0 md:w-[386px] md:h-[425px]"
          />
        </div>
      </div>
    </div>
  </div>
</div>
