<section class="py-9 md:pt-24 md:pb-56 bg-[#FBFBFB]">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <h1 class="text-center text-black text-[18px] md:text-[30px] font-medium">
      Meet Our Partners
    </h1>
    <div
      class="grid grid-cols-3 md:flex md:flex-wrap items-center gap-x-5 gap-y-2 md:gap-y-0 md:gap-x-16 justify-center mt-9"
    >
      <img
        src="/assets/images/partners/bg-1.png"
        alt="Interswitch logo"
        width="150"
        height="41"
        class="scale-[.9] md:scale-100"
      />
      <img
        src="/assets/images/partners/bg-2.png"
        alt="Paystack logo"
        width="142"
        height="25"
        class="scale-[.9] md:scale-100"
      />
      <img
        src="/assets/images/partners/bg-3.png"
        alt="Paystack logo"
        width="40"
        height="40"
        class="scale-[.9] md:scale-100"
      />

      <!-- <img
        src="/assets/images/partners/bg-4.png"
        alt="Paystack logo"
        width="126"
        height="20"
        class="scale-[.9] md:scale-100"
      /> -->
      <img
        src="/assets/images/partners/bg-5.png"
        alt="Paystack logo"
        width="128"
        height="52"
        class="scale-[.9] md:scale-100"
      />
      <img
        src="/assets/images/partners/bg-6.png"
        alt="Paystack logo"
        width="167"
        height="41"
        class="scale-[.9] md:scale-100"
      />
    </div>
  </div>
</section>
