<section class="py-9 md:py-36 bg-white">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div
        class="w-[160px] md:w-[220px] h-[23px] md:h-8 py-1 md:py-0.5 text-center bg-blueLight text-xs md:text-lg text-blue capitalize font-semibold rounded-[10px]"
      >
        Who are we here for?
      </div>
      <div
        class="text-black max-w-[200px] md:max-w-full text-[25px] md:text-[40px] leading-[30px] md:leading-[60px] font-bold mt-2.5 md:mt-1"
      >
        Dream Big With Frenn
      </div>
      <p class="text-sm md:text-lg text-paragraph max-w-[441px] mt-2.5">
        Our goal is to simplify your financial needs with convenient loans that
        suit your lifestyle
      </p>

      <div
        class="grid md:grid-cols-2 md:gap-y-32 gap-x-24 mt-[31px] md:mt-[60px]"
      >
        <div class="hidden md:block">
          <img
            src="assets/images/dream-bg.png"
            alt="Frenn dream woman image"
            width="400"
            height="350"
          />
        </div>
        <div>
          <div class="text-black text-xl font-bold md:text-[28px] md:mt-20">
            Individual Benefits
          </div>
          <p
            class="mt-3 md:mt-[30px] text-sm md:text-base max-w-[442px] text-paragraph"
          >
            Some of the best moments in life often come with the biggest
            financial challenges. We are that reliable friend you keep. More
            like a financial buddy for whatever life throws at you.
          </p>
        </div>
        <div class="block md:hidden">
          <img
            src="assets/images/dream-bg.png"
            alt="Frenn dream woman image"
            width="264"
            height="231"
            class="mx-auto mt-[30px]"
          />
        </div>
        <div class="mt-[46px]">
          <div class="text-black text-xl font-bold md:text-[28px] md:mt-20">
            Grow your business with Frenn
          </div>
          <p
            class="mt-3 md:mt-[30px] text-sm md:text-base max-w-[442px] text-paragraph"
          >
            Entrepreneurship is tough so we make getting a business loan as
            smooth as possible. We commit to do right by your business, with our
            range of tailor-made solutions designed to grow your brand.
          </p>
        </div>
        <div class="block md:hidden">
          <img
            src="assets/images/dream-bg2.png"
            alt="Frenn dream woman image"
            width="264"
            height="231"
            class="mx-auto mt-[30px]"
          />
        </div>
        <div class="hidden md:block">
          <img
            src="assets/images/dream-bg2.png"
            alt="Frenn dream woman image"
            width="400"
            height="350"
          />
        </div>
      </div>
    </div>
  </div>
</section>
