<div class="bg-lighter pt-36 pb-52">
  <div class="container mx-auto xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="flex item-center justify-between">
        <div>
          <h1 class="text-[60px] font-bold text-black capitalize">shop</h1>
          <p
            class="mt-[20px] text-paragraph text-lg max-w-[308px] text-opacity-60"
          >
            You can have anything you want by spreading Lorem ipsum dolor sit
            amet, consectetur oit adipiscing elit, sed Lorem ipsum dolor sit
            amet, consectetur oit adipiscing
          </p>
        </div>
        <div class="relative">
          <img
            src="assets/images/shop-bg.png"
            alt="shop image"
            width="500"
            height="347"
            class="object-cover"
          />
          <img
            src="assets/images/shop-bg2.png"
            alt="shop image 2"
            width="205"
            height="130"
            class="absolute bottom-5 object-cover scale-150 -left-20"
          />
        </div>
      </div>
    </div>
  </div>
</div>
