<section class="bg-white pt-0 pb-9 md:pt-32 md:pb-48">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="flex items-center mt-10">
        <div>
          <div
            class="w-[126px] md:w-[194px] h-10 md:h-16 px-2 md:px-[16px] py-0.5 bg-blueLight text-base md:text-2xl text-blue font-semibold rounded-[10px] flex items-center justify-center"
          >
            Our Values
          </div>
        </div>
        <div class="h-[3px] bg-blueLight w-full"></div>
      </div>
      <div class="text-xs md:text-lg mt-4 md:mt-11 text-paragraph">
        We are built on the commitment to provide millions of Nigerians with
        excellent, seamless, and personalized financial solutions. In plain
        terms, we are that friend who’ll never turn their backs on you.
      </div>
      <div class="grid md:grid-cols-3 mt-4 md:mt-[61px] gap-y-8">
        <div
          class="w-full h-[197.19px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto py-[10px] md:py-[38px] px-4 md:px-[33px]"
        >
          <div class="flex md:block items-center">
            <img
              src="assets/images/about/icon-1.jpg"
              alt="cash placeholder icon image"
              class="w-[58px] h-[58px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Culture - Customer First
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph">
            More than anything, we believe the customer is King as such, all our
            efforts are focused on optimizing their challenges, needs, and
            feedback in hopes of providing a great experience.
          </p>
        </div>
        <div
          class="w-full h-[197.19px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto py-[2px] md:py-[38px] px-4 md:px-[33px]"
        >
          <div class="flex md:block items-center">
            <img
              src="assets/images/about/icon-2.jpg"
              alt="cash placeholder icon image"
              class="w-[58px] h-[58px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Open & Fact Based Communication
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph">
            Over here, Your opinion counts. We listen, we welcome feedback, and
            we implement.
          </p>
        </div>
        <div
          class="w-full h-[197.19px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto py-[2px] md:py-[38px] px-4 md:px-[33px]"
        >
          <div class="flex md:block items-center">
            <img
              src="assets/images/about/icon-3.jpg"
              alt="cash placeholder icon image"
              class="w-[58px] h-[58px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Ownership <br />
              Mindset
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph">
            We’re all in this together. We work hard to build the perfect
            product for your convenience one day at a time.
          </p>
        </div>
        <div
          class="w-full h-[197.19px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto py-[2px] md:py-[38px] px-4 md:px-[33px]"
        >
          <div class="flex md:block items-center">
            <img
              src="assets/images/about/icon-4.jpg"
              alt="cash placeholder icon image"
              class="w-[58px] h-[58px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Continuous Experimentation & Learning
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph">
            At Frenn, we are particular about learning and adapting to new
            trends while we grow and evolve.
          </p>
        </div>
        <div
          class="w-full h-[197.19px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto py-[14px] md:py-[38px] px-4 md:px-[33px]"
        >
          <div class="flex md:block items-center">
            <img
              src="assets/images/about/icon-5.jpg"
              alt="cash placeholder icon image"
              class="w-[58px] h-[58px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Dream Big
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph">
            We believe that if your dreams don’t scare you, then they aren’t big
            enough. You dream it; we help you live it.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
