<header class="bg-lighter h-[396px] mt-[70px] pt-24">
  <div class="container mx-auto xl:px-16 2xl:px-36">
    <div class="text-center">
      <div
        class="w-[158px] h-8 px-[17px] py-0.5 bg-blueLight text-lg text-blue capitalize font-semibold rounded-[10px] mx-auto"
      >
        coming soon
      </div>
      <h1 class="mt-3 capitalize font-bold text-[60px]">frenn for business</h1>
      <p class="max-w-[849px] mx-auto mt-6 text-lg text-paragraph">
        Lorem ipsum dolor sit amet, consectetur oit adipiscing elit, sed Lorem
        ipsum dolor sit amet, consectetur oit adipiscing elit, sedLorem ipsum
        dolor sit amet, consectetur oit adipiscing elit, sedLorem ipsum dolor
        sit amet
      </p>
    </div>
  </div>
</header>
