<section class="bg-white py-20">
  <div class="container mx-auto xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-2">
        <div>
          <div
            class="text-black max-w-[413px] text-[45px] font-bold capitalize"
          >
            frenn payment gate way with single integration
          </div>
          <p class="mt-7 text-lg text-paragraph max-w-md">
            You can have anything you want by spreading Lorem ipsum dolor sit
            amet, consectetur oit adipiscing elit, sed Lorem ipsum dolor sit
            amet, consectetur oit adipiscing
          </p>
          <div class="flex items-center gap-y-6 mt-7 max-w-md flex-wrap">
            <div class="flex items-center">
              <svg
                width="29"
                height="29"
                viewBox="0 0 29 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="14.5" cy="14.5" r="14.5" fill="#F2F6FF" />
                <path
                  d="M12.6794 18L11.7137 19.1477L12.7789 20.0441L13.752 19.0486L12.6794 18ZM7.03424 15.2102L11.7137 19.1477L13.6452 16.8523L8.96576 12.9148L7.03424 15.2102ZM13.752 19.0486L21.5726 11.0486L19.4274 8.95144L11.6068 16.9514L13.752 19.0486Z"
                  fill="#0045CD"
                />
              </svg>
              <span class="text-black text-base font-semibold capitalize ml-5"
                >pay in 30 in day</span
              >
            </div>
            <div class="flex items-center ml-16">
              <svg
                width="29"
                height="29"
                viewBox="0 0 29 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="14.5" cy="14.5" r="14.5" fill="#F2F6FF" />
                <path
                  d="M12.6794 18L11.7137 19.1477L12.7789 20.0441L13.752 19.0486L12.6794 18ZM7.03424 15.2102L11.7137 19.1477L13.6452 16.8523L8.96576 12.9148L7.03424 15.2102ZM13.752 19.0486L21.5726 11.0486L19.4274 8.95144L11.6068 16.9514L13.752 19.0486Z"
                  fill="#0045CD"
                />
              </svg>
              <span class="text-black text-base font-semibold capitalize ml-5"
                >pay in 3 splits</span
              >
            </div>
            <div class="flex items-center">
              <svg
                width="29"
                height="29"
                viewBox="0 0 29 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="14.5" cy="14.5" r="14.5" fill="#F2F6FF" />
                <path
                  d="M12.6794 18L11.7137 19.1477L12.7789 20.0441L13.752 19.0486L12.6794 18ZM7.03424 15.2102L11.7137 19.1477L13.6452 16.8523L8.96576 12.9148L7.03424 15.2102ZM13.752 19.0486L21.5726 11.0486L19.4274 8.95144L11.6068 16.9514L13.752 19.0486Z"
                  fill="#0045CD"
                />
              </svg>
              <span class="text-black text-base font-semibold capitalize ml-5"
                >pay in 4 splits</span
              >
            </div>
            <div class="flex items-center ml-20">
              <svg
                width="29"
                height="29"
                viewBox="0 0 29 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="14.5" cy="14.5" r="14.5" fill="#F2F6FF" />
                <path
                  d="M12.6794 18L11.7137 19.1477L12.7789 20.0441L13.752 19.0486L12.6794 18ZM7.03424 15.2102L11.7137 19.1477L13.6452 16.8523L8.96576 12.9148L7.03424 15.2102ZM13.752 19.0486L21.5726 11.0486L19.4274 8.95144L11.6068 16.9514L13.752 19.0486Z"
                  fill="#0045CD"
                />
              </svg>
              <span class="text-black text-base font-semibold capitalize ml-5"
                >pay in 6 to 9 splits</span
              >
            </div>
          </div>
          <svg
            class="ml-72"
            width="377"
            height="144"
            viewBox="0 0 377 144"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 65.2917C42.8499 108.601 252.751 150.292 365.54 37.2917"
              stroke="#0045CD"
              stroke-width="5"
            />
            <path
              d="M340.853 31.3206L367.284 36.485L355.103 72.7854"
              stroke="#0045CD"
              stroke-width="5"
            />
          </svg>
        </div>
        <div class="m">
          <img
            src="assets/images/phone-bg3.jpg"
            width="341"
            height="571"
            alt="Pay in Bits Modal app"
            class="ml-auto -mt-5 mr-5"
          />
        </div>
      </div>
    </div>
  </div>
</section>
