<header class="bg-white pt-24 md:mt-[70px]">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="text-[25px] md:text-[50px] text-grayDark font-bold uppercase">
        About US
      </div>
      <div class="md:flex items-center mt-3.5 md:mt-10">
        <div>
          <div
            class="w-[126px] md:w-[194px] h-10 md:h-16 px-2 md:px-[16px] py-0.5 bg-blueLight text-base md:text-2xl text-blue font-semibold rounded-[10px] flex items-center"
          >
            Who are We?
          </div>
        </div>
        <div
          class="h-[3px] -mt-5 md:mt-0 bg-blueLight w-3/4 ml-auto md:ml-0 md:w-full"
        ></div>
      </div>
      <p class="text-xs md:text-lg text-paragraph font-medium mt-8 md:mt-10">
        Frenn is founded on the commitment to make better financial
        infrastructure accessible to deserving Nigerians irrespective of age,
        gender, or social standing.
      </p>

      <div class="grid md:grid-cols-2">
        <div class="block md:hidden">
          <img
            src="assets/images/office-bg.jpg"
            width="379"
            height="340"
            alt="Frenn office image"
            class="ml-auto mt-[18px]"
          />
        </div>
        <div>
          <div
            class="w-[100px] md:w-[147px] h-[25px] md:h-[47px] px-3 md:px-5 py-0.5 bg-blueLight text-sm md:text-xl text-grayDark capitalize font-semibold rounded-[5px] md:rounded-[10px] flex items-center mt-[26px] md:mt-14"
          >
            Our Vision
          </div>
          <p
            class="text-xs md:text-base text-paragraph md:font-medium mt-5 max-w-[407px]"
          >
            To Improve the living standards of Nigerians by providing seamless,
            secure, and sustainable financial solutions
          </p>
          <div
            class="w-[100px] md:w-[147px] h-[25px] md:h-[47px] px-2 md:px-3 py-0.5 bg-blueLight text-sm md:text-xl text-grayDark capitalize font-semibold rounded-[5px] md:rounded-[10px] flex items-center mt-[26px] md:mt-14"
          >
            Our Mission
          </div>
          <p
            class="text-xs md:text-base text-paragraph md:font-medium mt-5 max-w-[407px]"
          >
            To Put financial solutions in the hands of everyone and empower them
            to positively impact their well-being.
          </p>
        </div>
        <div class="hidden md:block">
          <img
            src="assets/images/office-bg.jpg"
            width="379"
            height="340"
            alt="Frenn office image"
            class="ml-auto mt-14"
          />
        </div>
      </div>
    </div>
  </div>
</header>
