<div
  class="bg-white rounded-[10px] w-[628px] h-[604px] overflow-hidden px-10 mt-[70px]"
>
  <div class="text-[30px] mt-[63px] font-semibold text-black">
    Enter Custom Amount
  </div>
  <p class="text-[#636363] text-[15px]">
    Please enter the custom amount you want to be paid.
  </p>
  <form class="mt-[76px]">
    <label for="amount" class="text-lg text-[#2D2D3]">Custom Amount</label>
    <br />
    <input
      type="number"
      name="amount"
      id="amount"
      placeholder="NGN 50,000"
      class="bg-[#F3F7F6] mt-1 w-full rounded-[5px] h-[51px] outline-none px-[18px] placeholder:text-[#B9B9BE] text-lg"
    />
    <div class="mt-2 font-normal text-sm text-[#636363]">
      Please note for early repayment of full loan, contact Frenn on <br />
      <span class="text-blue">“frenncustomercare@frenn.com"</span>
    </div>

    <button
      class="h-[55px] text-primary rounded-[10px] capitalize w-full bg-[#2D2D3D] mt-[73px] font-semibold text-xl"
    >
      Pay Now
    </button>
  </form>
  <div class="flex justify-center">
    <button
      type="button"
      class="mt-14 active:scale-95 active:translate-y-1 duration-200"
    >
      <svg
        width="44"
        height="44"
        viewBox="0 0 44 44"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M21.8333 42.6667C33.3393 42.6667 42.6667 33.3393 42.6667 21.8333C42.6667 10.3274 33.3393 1 21.8333 1C10.3274 1 1 10.3274 1 21.8333C1 33.3393 10.3274 42.6667 21.8333 42.6667Z"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M28.082 15.5835L15.582 28.0835"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M15.582 15.5835L28.082 28.0835"
          stroke="black"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
</div>
