<div class="bg-lighter py-36">
  <div class="container mx-auto xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="flex item-center justify-between">
        <div>
          <h1 class="text-[60px] font-bold text-black capitalize">
            instore <br />
            payments
          </h1>
          <p
            class="mt-[20px] text-paragraph text-lg max-w-[308px] text-opacity-60"
          >
            Unlock endless possibilities for your business. Integrate to accept
            seamless in-store payments via the Frenn Merchant ID, or QR code.
          </p>
        </div>
        <div>
          <img
            src="assets/images/instore-bg.png"
            alt="Instore image"
            width="500"
            height="347"
            class="object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
