<div class="bg-[#EFF1F8] py-36">
  <div class="container mx-auto xl:px-16 2xl:px-36">
    <div class="max-w-5xl mx-auto">
      <div class="flex item-center justify-between">
        <div>
          <img
            src="assets/images/online-bg.png"
            alt="online payment image"
            width="500"
            height="347"
            class="object-cover"
          />
        </div>
        <div>
          <h1 class="text-[60px] font-bold text-black capitalize">
            online <br />
            payment
          </h1>
          <p
            class="mt-[20px] text-paragraph text-lg max-w-[308px] text-opacity-60"
          >
            Initiate and accept online customer payments, via a secure, easily
            adaptable, and trusted payment gateway.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
