<div class="md:ml-16 pb-9 md:pb-24">
  <div id="intro" class="section">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Introduction
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    ></p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      These Terms and Conditions were last updated on 10.5.2022
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn offers a range of financial services and products, span through its
      websites, App site, Service Sites, partner websites, the Application,
      mobile applications, application programme interface, widgets, and other
      related digital platforms (together, ‘Frenn’s Platforms’). To enable Frenn
      serve you better within the scope of applicable law, kindly read,
      understand and consent to these Terms and Conditions before accessing or
      using any of Frenn’s Platforms or Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      By: (i) accessing or using any of Frenn’s Platforms or Services; or (ii)
      by clicking ‘continue’ on the Application or any other Frenn Platform to
      indicate your consent to and acceptance of these Terms and Conditions; or
      (iii) by doing any other prescribed act which demonstrates your consent to
      and acceptance of these Terms and Conditions; and in each case, whether as
      a registered user or not, you unconditionally consent to be legally bound
      by these Terms and Conditions and our Privacy Policy.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      These Terms and Conditions (as may be amended from time to time)
      constitute a valid and enforceable agreement between you (as the ‘User’)
      and Frenn. This govern your use of any of the Services provided by or
      through Frenn’s Platforms. The contracting party for the purpose of legal
      capacity and enforceability is Frenn Credit Limited, a company
      incorporated under the laws of the Federal Republic of Nigeria. By using
      any of Frenn’s Platforms or Services, you represent that you are at least
      twenty (20) years old.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn reserves the right to vary or update these Terms and Conditions or
      its Privacy Policy at any time and without notice to you. Any variations
      made to these Terms and Conditions shall become effective upon publication
      on Frenn’s Platforms. Notice of any such variation will be published on
      Frenn’s Platforms at least seven (7) days before the variations shall
      become effective.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If you do not intend to be bound by these Terms and Conditions or Frenn’s
      Privacy Policy, kindly do not use Frenn, Frenn’s Platforms, or any of the
      Services. If you make use of any of Frenn’s Platforms or Services after
      the effective date of a variation to these Terms and Conditions or the
      Privacy Policy, you thereby evince your unconditional consent to be
      legally bound by the Terms and Conditions and Privacy Policy as varied and
      published.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If you have downloaded Frenn’s Application into your mobile phone, tablet
      or other device, you unconditionally consent that Frenn may automatically
      update the software periodically, and that these Terms and Conditions and
      related agreements shall apply to any such updates. Depending on the
      nature of the update, you may be unable to access the Application or
      Services until you have upgraded to the latest version of the Application
      and consented to any new terms and conditions
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      By using Frenn’s Platforms or Services, you agree that Frenn, our
      affiliates and partners may collect, store, transmit, assemble, hold,
      maintain, process and use your Personal Information in accordance with the
      Privacy Policy to improve our Services and Frenn’s Platforms, and your
      user experience when using any of Frenn’s Platforms or Services.
    </p>
  </div>
  <div id="definitions" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Definitions and Interpretation
    </h1>
    <p class="text-sm md:text-2xl font-bold text-black my-3">Definitions</p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In these Terms and Conditions, unless the context provides otherwise:
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Acceptable Use Restrictions”</span> has the
      meaning given to it in clause 4.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Account”</span> means your personalised account
      with Frenn which grants you the ability to access Frenn’s Platforms and
      Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Application”</span> means the Frenn mobile
      banking application owned and operated by Frenn.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“App Site”</span> means Frenn’s website which
      gives web access to the Application and or any other Frenn Platform or
      Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Business Day”</span> means a day other than a
      Saturday, Sunday or public holiday in Nigeria on which banks in Lagos are
      open for business.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Credentials”</span> means your personal or
      private information used to access and operate your Account on Frenn’s
      Platforms.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Credit Reference Bureau”</span> includes any
      financial organisation or a credit reference office duly licensed under
      the laws and regulations of the Federal Republic of Nigeria to collate and
      facilitate the dissemination of customer credit information.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Device”</span> includes your mobile phone device,
      electronic gadgets, SIM Card and/or other equipment which when used
      together enables you to access your Account or any of Frenn’s Platforms.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Force Majeure”</span> includes events,
      circumstances or causes which are unforeseeable, beyond the reasonable
      control, without the fault or negligence of Frenn, making Frenn’s
      performance of its obligations commercially impracticable, illegal, or
      impossible, including but not limited to acts of God, war, failure of
      telecommunication systems, pandemics, lockdowns, outbreak of disease,
      strikes or labour disputes, embargoes or government orders.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Frenn”</span> means Frenn Credit Limited,
      registered under the Laws of the Federal Republic of Nigeria.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Nigeria”</span> means the Federal Republic of
      Nigeria.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Payment System Provider”</span> includes banks,
      and other financial institutions that have been duly licensed to offer
      payment and other credit facilities in Nigeria.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Personal Information”</span> means your personal
      or private information including but not limited to your full name, date
      of birth, Bank Verification Number ("BVN"), permanent residential address
      or work address, passport photograph, image, phone number, email address,
      details of next of kin, Government issued identity card (national identity
      card, international passport, permanent voter’s card or driver’s licence),
      utility bill, bank statement, affidavit, user data, payment data, profile
      and account data, and your other information protected by data privacy
      laws.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Privacy Policy”</span> means Frenn’s privacy
      policy which defines how any Personal Information we obtain from you, or
      that you willingly provide to us, will be managed and processed by Frenn.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Services”</span> includes but is not limited to
      any form of financial services, facilities or features provided by Frenn,
      including general lending and “Service” shall be interpreted accordingly.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Service Request”</span> means a service demand or
      instruction (excluding maintenance and customer support requests) sent to
      or received by Frenn from your Account through any of our customer request
      channels and upon which Frenn is forthwith required to act upon.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Service Sites”</span> includes any other websites
      or applications (other than the Application or the App Site) operated by
      Frenn or any of its Merchant Partners which gives access to any of the
      Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“SIM Card”</span> means the subscriber
      identification module which when used with the appropriate mobile phone
      device grants you access to the Application.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“SMS”</span> means a short message service
      consisting of a text message transmitted from one mobile phone device to
      another and vice versa.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      <span class="font-bold">“Third-Party Partners”</span> mean banks, payment
      service companies, asset management firms, Credit Reference Bureaus, debt
      recovery companies, know-your-customer (KYC) and identity verification
      companies, auditors, or any other person (or entity) that offers any form
      of service or information or assistance to Frenn for the provision of an
      organised Service.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666]"
    >
      <span class="font-bold">“Transaction Fees”</span> include any fees and
      charges payable or outstanding for the use of the Services provided, as
      published by Frenn on Frenn BNPL website or the Application or by such
      other means as Frenn shall in its discretion determine. Transaction Fees
      are subject to change at Frenn’s discretion.
    </p>
    <p class="text-sm md:text-2xl font-bold text-black mt-6 mb-3">
      Interpretation
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In these Terms and Conditions, unless the context suggests otherwise:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        The singular shall include the plural and vice-versa;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Any mention of one gender, whether masculine or feminine, includes the
        other; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        All the headings and subheadings in these Terms and Conditions are
        solely for expediency and shall not affect the interpretation of these
        Terms and Conditions.
      </li>
    </ul>
  </div>
  <div id="grant" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Grant and scope of licence
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Subject to you consenting to abide by these Terms and Conditions, Frenn
      grants you a revocable, non-transferable, personal, limited, non-exclusive
      licence to use the Frenn’s Platforms and the Services on any of your
      Devices. Save as provided in these Terms and Conditions, Frenn reserves
      all other rights and privileges over Frenn’s Platforms and the Services.
      This licence does not confer upon you any intellectual property in any
      Frenn Platform or Service you use.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn’s Platforms and the Services have been made available to you through
      the active support of Frenn’s partners and other third parties, all of
      whom have given Frenn the licence to use the aspects of their intellectual
      properties made available on Frenn’s Platforms and the Services, if any.
      In using Frenn’s Platforms or the Services, you undertake to be bound by
      and protect any such third-party intellectual property rights. Where a
      partner or other third-party has imposed rules and guidelines for the use
      of their intellectual property, Frenn will provide notice of those rules
      and guidelines. You covenant to abide strictly with those rules. Frenn
      reserves any right(s) which have not been expressly granted to you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      In the event that you breach any of the provisions contained in these
      Terms and Conditions, your rights under this section shall be immediately
      terminated.
    </p>
  </div>
  <div id="restrictions" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Restrictions on the use of the licence
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You shall:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        not use any of Frenn’s Platforms or Services for any illegal purpose, or
        in an unlawful manner, or in any other manner inconsistent with these
        Terms and Conditions or any applicable law in the Federal Republic of
        Nigeria;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        not act dishonestly or maliciously, for example, by decompiling or
        reverse engineering the Application, hacking into any of Frenn’s
        Platforms or imputing malicious code or malware, including viruses, or
        harmful data into the Application, any Service or any other Frenn
        Platform;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        not breach, attempt to breach, or permit anyone to breach or attempt to
        breach our intellectual property rights or those of any third party in
        connection to your use of any Service;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        not transfer any material that is vexatious, offensive or otherwise
        obnoxious in relation to your usage of Frenn’s Platforms or any Service;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        not use any of Frenn’s Platforms or Service in a manner that may
        infringe, disrupt, alter, damage, disable, prejudice or compromise any
        of Frenn’s Platforms or its security or restrict other customers’
        ability to use and enjoy Frenn’s Platforms and/or Services; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        to comply with all technology control or export laws in Nigeria as
        applicable to the technology used or supported by any of Frenn’s
        Platforms or Services.
      </li>
    </ul>
  </div>
  <div id="accept" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Acceptable use restrictions
    </h1>
    <p class="text-2xl font-bold text-black mt-6 mb-3">
      Trademarks and Intellectual Property Rights
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Nothing in these Terms and Conditions grants you, or shall be deemed to
      grant you, any right, privilege, or interest in any intellectual property,
      howsoever described, in any of Frenn’s Platforms or Services, including
      their underlying technology. These Terms and Conditions only grant you a
      limited right to use Frenn’s Platforms and the Services subject to the
      provisions of the Terms and Conditions.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Save as specified in these Terms and Conditions, nothing contained on
      Frenn’s Platforms should be construed as granting, whether expressly or by
      implication, estoppel or otherwise any right or licence to use any
      Trademark displayed on Frenn’s Platforms without the prior written consent
      of the owner of the Trademark. In particular, you shall not use our
      Trademarks or those of our third-party partners, including any variations
      of them, without our prior written consent or the prior written consent of
      the relevant third party.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Without our prior written consent, you shall not use any Trademarks on
      Frenn’s Platforms, or any variations thereof, or link any of Frenn’s
      platforms for promotional purposes, for any purpose, or in any way that
      deliberately or inadvertently claims, suggests or, in our sole judgement,
      gives the appearance or impression of a relationship with or endorsement
      by the Frenn.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In these Terms and Conditions, Trademark(s) includes our trademarks,
      trademarks of our partners, and any other trademark displayed on Frenn’s
      Platforms (including any variations of them).
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn developed, owns, and operates the Application, the App Sites, and
      their respective content are the property of Frenn or are used under
      licence from third parties. We own the designs, compilation, and
      information on the Application and App Sites. Our rights and those of our
      affiliates, agents, subsidiaries, and suppliers are protected by the
      intellectual property laws of the Federal Republic of Nigeria including
      those which apply to copyrights, database rights, trademarks, etc. If you
      use any of Frenn’s Platforms in a manner inimical to those rights, you may
      incur civil and or criminal liabilities.
    </p>
    <p class="text-2xl font-bold text-black mt-6 mb-3">
      Services/Facility Utility
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn’s Platforms and Services can only be used by persons who are at
      least twenty (20) years old. By using Frenn’s Platforms or Services, you
      represent that you are at least twenty (20 years old, and Frenn retains
      the right to confirm and validate any personal information in this regard.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn’s Platforms and the Services are provided at Frenn’s discretion.
      Frenn has the right to continue or discontinue, at will, any Frenn
      Platform or Service with or without reason. Prior to the discontinuation
      of a Frenn Platform or Service, Frenn will provide notice of at least
      three (3) days on Frenn’s Platforms. The discontinuation of a Frenn
      Platform or Service shall not affect any rights or obligations that have
      accrued prior to such discontinuation.
    </p>
  </div>
  <div id="personal" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Personal information
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      To enable Frenn to fulfil its Know Your Customer
      <span class="font-bold">(“KYC”)</span> and Anti-Money Laundering
      <span class="font-bold">(“AML”)</span>
      obligations, you are required to provide all of the following personal
      information:
    </p>
    <ul class="list-disc ml-6">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your full name;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your date of birth;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your Bank Verification Number ("BVN");
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your permanent residential address;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your current passport photograph;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your phone number verified with a one-time password (OTP);
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        your verified email address;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        Details of your next of kin;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        copy of a valid Nigerian government issued ID (national ID,
        international passport, permanent voter’s card or driver’s license);
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        copy of recent utility bill, bank statement, affidavit, or another bill,
        dated within three months of our request, which bears your name and
        address; and
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
      >
        any other information or document that may be needed for internal
        assessment and due diligence.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You undertake that all Personal Information provided to us are factual,
      accurate, and honest. You also undertake to inform Frenn of any changes to
      the Personal Information provided.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You consent and permit Frenn to confirm and validate any and all
      information given by you against the documentation and records held by any
      third party (inclusive of any official databases) such as Payment System
      Providers, Credit Reference Bureaus, or any other information sources
      available to Frenn.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You consent and permit Frenn to process and use, in accordance with the
      Privacy Policy, your personal information in the provision of the Services
      to you and, subject to your specific consent, for the purpose of keeping
      you informed on Frenn’s present and future products, services and
      features.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Where, in the provision of the Services to you, Frenn is required to
      provide your Personal Information to a third party, you hereby consent and
      permit Frenn to provide such information to such third parties. You also
      permit Frenn to request for and/or obtain your Personal Information from
      third-parties strictly for the purpose of providing the Services to you.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn has the right to request or demand for additional information, or
      particulars from you concerning your use of Frenn’s Platforms and Services
      at any time. Failure to provide such additional information within the
      stipulated time to Frenn may result in the discontinuation of the
      Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Any payment information (such as credit or debit card data, bank account
      details, etc.) added by you to any of Frenn’s Platforms must be accurate
      and you must be the holder of the card or account linked with such
      details. We will treat any breach of this clause as a fraudulent act and
      reserve the right to employ any legal remedies against you for the same.
      You consent that any credit or debit card details shall be registered to
      your Account and will be used to process any payments or repayments made
      by you on Frenn’s Platforms. You understand and agree that we do not store
      card details on our platform thus card details shall be processed through
      a secure payment gateway that is PCI DSS compliant.
    </p>
  </div>
  <div id="account" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      your account
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You must create an Account before you would be granted access to any of
      the Services provided by Frenn. You must be of full legal age and
      contractual capacity at least twenty (20) years to use the Services. In
      opening your Account, Frenn may ask you to provide all the Personal
      Information enumerated in clause 5.1 above. You undertake to provide
      complete and accurate information to Frenn. As you use the specific
      services provided by Frenn, additional Personal Information may be
      requested by Frenn. You hereby undertake to provide complete and accurate
      responses to any such request for information. You also undertake to
      consistently update the information provided to Frenn to ensure that they
      are complete and accurate at all times. Every Personal Information you
      provide to Frenn is and will be properly managed with high levels of
      confidentiality and data security in accordance with our Privacy Policy
      and applicable law. Kindly read through our Privacy Policy for more
      information on how we collect, process and use the Personal Information
      provided to, or generated by, Frenn.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn permits you to have only one Account per user, and requires you to
      keep the details of your Account confidential. If Frenn finds that you are
      not of full legal age and capacity, or that you have more than one Account
      per user, or that you have granted any third-party unlawful access to your
      Account, Frenn reserves the right to terminate your Account.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You are responsible to Frenn and to other users for any activity traceable
      to your Account, even if a third-party was using your Account without your
      permission. If you suspect that a third-party may be using your Account
      without your permission or if you suspect any other breach of Frenn’s
      security processes, kindly contact Frenn’s customer support team
      immediately by email at
      <a href="mailto:help@frenn.com" class="font-bold text-black"
        >help@frenn.com</a
      >
      . Frenn shall not be liable to you or to any other person for any activity
      traceable to your Account.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You may terminate your Account at will. The Privacy Policy provides
      details of Frenn’s data management processes in relation to terminated
      accounts. Your termination of your Account shall not affect any rights or
      obligations that accrued before such termination.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn reserves the right to carry out all background checks to verify your
      identity and to obtain customer reports from Credit Reference Bureaus to
      confirm your credit worthiness and eligibility when you use any Service
      that involves the provision of any form of credit to you.
    </p>
  </div>
  <div id="request" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      service requests
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      To the extent that you meet the criteria prescribed by Frenn for its
      Services, Frenn shall act on all Service Requests originating from your
      Account and may approve or disapprove such Service Requests at its
      discretion.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In approving or disapproving Service Requests, Frenn shall act in good
      faith and will treat every Service Request from your Account as being from
      you or duly authorised by you. Accordingly, Frenn shall not be liable to
      you or any third party for any loss or damage you or such third party may
      suffer in consequence thereof.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn may, in its absolute discretion, refuse to approve all or part of a
      Service Request until it receives any additional Personal Information
      required for the purpose of that particular Service.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn reserves the right to impose such transaction or other limits on the
      Services or the ability of user accounts to access certain Services. Where
      such limits or restrictions are in place, Frenn shall not be under any
      obligation to act on Service Requests in excess of the limit or
      restriction. Where Frenn chooses to impose such limits, Frenn shall
      publish the applicable limits on Frenn’s Platforms and will notify you if
      an attempted transaction is in excess of the relevant limit or
      restriction.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In addition to these Terms and Conditions, you will be required to consent
      to additional terms and agreements where you require Services relating to
      provision of credit.
    </p>
  </div>
  <div id="responsibility" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      user’s responsilities
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You shall provide and maintain your own Device and keep it in good and
      usable condition for the purpose of accessing your Account on Frenn’s
      Platforms.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You shall adhere to these Terms and Conditions and any additional
      information provided by Frenn regarding the use of your Account, Frenn’s
      Platforms, and/or the Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You must perform all obligations that arise in connection with your use of
      any Service. For the avoidance of doubt, where you have used a
      credit-related Service and defaulted on your repayment obligation, Frenn
      reserves the right to automatically debit any bank account linked to your
      Account for the purpose of recovering the amount due.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You shall be solely responsible for the security and proper usage of your
      Device, your Account, and for safeguarding your Credentials and passwords.
      You shall make sure that your passwords, Account details and Credentials
      are kept secret and are secure from unauthorised persons. Frenn shall not
      be held liable or responsible for any disclosure of your Credentials to
      any third party (unless the disclosure was caused by Frenn’s negligence or
      willful misconduct) and you therefore agree to hold Frenn harmless in the
      event of any loss or breach.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You must use your best endeavours to forestall, detect, and prevent
      unauthorised access to your Account. To that end, you must ensure that any
      communication from Frenn is received and read by you or on your behalf in
      order to forestall any unauthorised use of your Account or the Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You consent that Frenn may contact you via telephone or email or text
      messages and other forms of electronic communication. Such telephone
      communication between you and Frenn may be monitored or recorded for
      reference, training and quality assurance purposes. You hereby grant
      consent to the recording of such telephone conversations and as such,
      Frenn shall not be held liable for any related breach of privacy.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You shall immediately notify Frenn in the event that:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you reasonably believe that your Credentials have been compromised or
        have otherwise become known to an unauthorised third party; and/or
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you reasonably believe that someone is making unauthorised use of
        Frenn’s Platforms or any Service, or that a transaction was initiated
        dishonestly, fraudulently, or is otherwise unlawful.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      At all times, you must follow the security protocol as instructed by Frenn
      from time to time or such other procedures that may become necessary for
      the Services from time to time. You agree that any failure on your part to
      adhere to the recommended security procedures may result in a breach of
      your Account’s privacy and security. You undertake that no one else shall
      have access to or operate your Account apart from you or your duly
      authorised agent.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      You must not use any of Frenn’s Platforms or Services in any manner that
      may be detrimental to Frenn.
    </p>
  </div>
  <div id="variation" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      variation and termination
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Frenn may at any time, depending on the circumstances of the case, and
      upon a notice to you, end or change its business/contractual relationship
      with you and close your Account. Without prejudice to the foregoing, Frenn
      may in its own discretion suspend the use of or close your Account where:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you use your Account for any illegal or unauthorised purpose or where
        Frenn detects any abuse, misuse, breach of content, or intellectual
        property, fraud or potential fraud relating to your use of the Services
        or traceable to your Account;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Frenn is required to do so by an order or regulation or recommendation
        from the government or any of its agencies, the courts, regulators or
        other competent authority;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Frenn reasonably believes that you have contravened any of the
        provisions of the Terms and Conditions which, if remediable, you have
        neglected to remedy within seven (7) days after you have been required
        to do so;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        such a suspension or variation is necessitated by technical problems or
        safety;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        there is a need to update or upgrade Frenn’s Platforms or the Services;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        the Services are being used for any unlawful, fraudulent or obnoxious
        purpose;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        Frenn opts to end the provision of the Services for commercial reasons
        or for any other reason as it may decide in its sole discretion; or
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        you contravene any of the licence restrictions, intellectual property
        restrictions or the acceptable use restrictions in these Terms and
        Conditions.
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Such termination or suspension shall not affect any rights, privileges,
      obligations and liabilities of either party which accrued before the
      termination or suspension.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      In the unfortunate event that Frenn receives notice of your untimely
      death, Frenn will not permit any activity or withdrawal from your Account
      by any third party save upon the production of letters of administration
      or grant of probate by persons so entitled from a court of competent
      jurisdiction.
    </p>
  </div>
  <div id="limit" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      limitations on liability and disclaimers of warranties
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Frenn shall not be liable for any loss or damage suffered by you where the
      Services are interrupted or unavailable on account of network failures or
      the failure of your Device, or any other conditions that are outside the
      reasonable control of Frenn including any Force Majeure, disruption,
      interference or delay in Frenn’s Platforms, or any failure of
      telecommunications systems.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn’s Platforms and Services are provided "as is" and "as available"
      without warranty of any kind (express, implied or otherwise), including,
      without limitation, any implied warranties of merchantability, fitness for
      a particular purpose, and non-infringement, except insofar as any such
      implied warranties may not be disclaimed under applicable law.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn does not warrant that Frenn’s Platforms will operate without
      downtime or in an uninterrupted or error-free manner, or that Frenn’s
      Platforms are free of viruses or other harmful components. Frenn also
      makes no warranty about the quality of Frenn’s Platforms or the Services,
      or that any particular Service will continue to be made available.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Use of Frenn’s Platforms and the Services is at your own risk, and you
      will be solely responsible for any damage to your Device or loss of data
      that results from the download or use of such Frenn’s Platforms and the
      Services, unless otherwise expressly provided for in the privacy policy.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn will not be held responsible for any loss or damage suffered by you
      because of or in connection with:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        your infringement of any of the licence or intellectual property
        restrictions or the acceptable use restrictions;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        your inability to meet your obligations under these Terms and Conditions
        and any Service; on was initiated dishonestly, fraudulently, or is
        otherwise unlawful.
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        any fraudulent, dishonest or illegal use of your Account, your
        Credentials, Frenn’s Platforms or Services, or your Device; or
      </li>
    </ul>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Where our Services are interfered with for any other reason other than
      those stated in this clause 10.5, Frenn’s only responsibility under these
      Terms and Conditions shall be to rectify the Services as soon as is
      possible.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      All other liabilities, undertakings or warranties, representations and
      obligations implied by any applicable law are hereby excluded to the
      fullest extent permitted by such law.
    </p>
  </div>
  <div id="indemnity" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      Indemnity
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      You hereby agree to protect and hold Frenn (including its directors,
      employees, partners, third party partners, agents, and affiliates)
      harmless and free from liability for any action, demand, claim, loss,
      charge, damage, expenses, or fees inclusive of legal fees, which Frenn may
      suffer incur as a result of:
    </p>
    <ul class="list-disc ml-6 mb-4">
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        the use of your Account;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        your access and use of any service;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        an infringement of any of the provisions in these Terms and Conditions;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        your provision of false, inaccurate, or dishonest information;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        reliance on Personal Information provided by you;
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        any temporary error, disruption, interference or delay or unavailability
        of the Frenn’s Platforms and/or Services; or
      </li>
      <li
        class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-2"
      >
        any third-party rights relating to your use of the Services including
        and without limitation, matters pertaining to infringement of our
        intellectual property.
      </li>
    </ul>
  </div>
  <div id="money" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      anti-money laundering and counter financing of terrorism
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      To ensure compliance with applicable law on AML/CFT, Frenn may request
      additional information on the nature and purpose of transactions on your
      Account, including but not limited to the source and purpose of any funds
      flowing through your Account. Frenn has the absolute right to flag,
      decline, and report any suspicious transactions and to suspend your
      Account if it deems it appropriate in the circumstances.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Note that Frenn or our third-party affiliates, on our behalf, may file
      AML/CFT reports with the relevant regulatory bodies, without prior notice
      to you. These reports will include your Personal Information, details of
      your Account, and the details of the suspicious transaction(s)
    </p>
  </div>
  <div id="communication" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      communication between us
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Where you wish to contact us for any reason, you may do so by email or
      other appropriate forms on Frenn’s Platforms. We will in turn confirm
      receipt of any such correspondence.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If we need to contact you or send you any written notice, we may do so by
      sending such correspondence by notifications on Frenn’s Platforms, e-mail
      or SMS to the mobile phone number provided, or by post or courier to the
      permanent address provided.
    </p>
  </div>
  <div id="taxes" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      taxes
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Every payment to be made by you in connection with any Services provided
      to you by Frenn shall be exclusive of any taxes payable by you in respect
      of the Services, which shall be assessed and paid separately.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      All payments to be made by you in respect of Services rendered by Frenn
      shall be made in full without any set off or counterclaim and save in so
      far as required by law, free and clear of and without any deduction or
      withholding whatsoever. If you or Frenn are at any time required to make
      any payment, deduction or withholding from any payment to Frenn as a
      result of any applicable taxes, we may charge such additional amount or
      fees as will result in Frenn receiving the full amount it would have
      received had no such payment, deduction or withholding had been required.
    </p>
  </div>
  <div id="general" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      general
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      The exercise or partial exercise of any right, claim, privilege, or power
      under these Terms and Conditions shall not exclude any other right, claim,
      privilege, or power.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      If any part of these Terms and Conditions is found to contravene any
      existing laws in Nigeria by a court of competent jurisdiction, such
      contravention or incompatibility shall not affect the entire document but
      shall be limited to only the incompatible provisions.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      Frenn has the right to transfer or assign its rights and obligations under
      these Terms and Conditions to another person. You will be given notice if
      any such transfer affects the Services provided to you. Your rights and
      liabilities under these Terms and Conditions shall not be transferred by
      you to another person.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      These Terms and Conditions including our Privacy Policy shall form the
      whole of the agreement between you and Frenn for the purpose of granting
      you access to Frenn’s Platforms and Services. It shall surpass and
      terminate all prior written or oral agreements, arrangements, contracts,
      promises, assurances, warranties, undertakings, representations and
      understandings between us, relating to its subject matter. Where you
      require specific credit-related Services on Frenn, you will be required to
      consent to additional terms and agreements before you may be granted
      access to such Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    ></p>
    <span class="font-bold">Cookies:</span> Frenn’s Platforms use cookies to
    understand how you use Frenn’s Platforms and the Services to enable us to
    personalise and improve our service offerings to you. Our cookies are
    harmless and will not store your Personal Information. When you visit
    Frenn’s Platforms through a browser, you will be given the option whether to
    accept Frenn’s cookies or not. This is entirely at your discretion. Please
    see our Privacy Policy for information on how we use cookies.
  </div>
  <div id="law" class="section pt-16 md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      governing law ad dispute resolution
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      These Terms and Conditions are governed by the laws of the Federal
      Republic of Nigeria and the Nigerian courts shall have exclusive
      jurisdiction to adjudicate any dispute arising from these Terms and
      Conditions.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      The Parties shall, before resorting to litigation, attempt to resolve any
      disputes arising out of this agreement in good faith, through the customer
      complaint and support mechanisms provided on Frenn’s Platforms.
    </p>
  </div>
  <div id="privacy" class="section md:pt-24">
    <h1
      class="text-lg md:text-[40px] md:mb-8 font-bold text-grayDark capitalize"
    >
      privacy policy
    </h1>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mt-5 mb-4"
    >
      Our Privacy Policy is provided here
      <a routerLink="/privacy-policy" class="font-bold">Link</a>. Please read,
      understand, and consent to the Privacy Policy before accessing Frenn’s
      Platforms or using any of the Services.
    </p>
    <p
      class="leading-relaxed md:leading-normal text-xs md:text-base text-[#686666] mb-4"
    >
      The Parties shall, before resorting to litigation, attempt to resolve any
      disputes arising out of this agreement in good faith, through the customer
      complaint and support mechanisms provided on Frenn’s Platforms.
    </p>
  </div>
</div>
