<section class="py-9 md:py-24 bg-[#F6F8FA]">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="md:max-w-5xl mx-auto">
      <div class="md:flex">
        <div>
          <div
            class="text-[25px] md:text-[40px] font-bold max-w-[158px] mx-auto md:mx-0 md:max-w-[253px] text-gray150 capitalize leading-[30px] md:leading-[50px] text-center md:text-left"
          >
            The Frenn Starter Pack
          </div>
          <p
            class="mt-[5px] md:mt-4 md:text-lg font-light max-w-[308px] leading-6 text-[#2E2E2E] md:text-black mx-auto md:mx-0 text-center md:text-left"
          >
            To apply for a loan, you must fulfill the following criteria :
          </p>
        </div>
        <div class="flex justify-center md:block">
          <a
            href="https://play.google.com/store/apps/details?id=com.mfb.frennapp"
            target="_blank"
          >
            <button
              class="bg-primary text-black w-[152.45px] h-[43px] md:w-[230px] md:h-[65px] rounded-[10px] text-[15px] md:text-[25px] font-bold mx-auto md:ml-[221px] btn-shadow mt-[30px] md:mt-0"
            >
              Download app
            </button>
          </a>
        </div>
      </div>

      <div class="hidden md:flex md:gap-x-20 mt-[71px]">
        <div>
          <img
            src="assets/images/starter-pack/icon-1.png"
            alt="starter pack icon images"
            width="80"
            height="70"
            class="mx-auto"
          />
          <div class="text-xs font-medium mt-4 text-center">
            Nigerian <br />
            Resident
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-2.png"
            alt="starter pack icon images"
            width="57"
            height="60"
            class="mx-auto"
          />
          <div class="text-xs font-medium mt-7 text-center">
            20+ <br />
            Years
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-3.png"
            alt="starter pack icon images"
            width="50"
            height="68"
            class="mx-auto"
          />
          <div class="text-xs font-medium mt-5 text-center">
            Bank Verification <br />
            Number(BVN)
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-4.png"
            alt="starter pack icon images"
            width="67"
            height="67"
            class="mx-auto"
          />
          <div class="text-xs font-medium mt-6 text-center">
            Bank <br />
            Account
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-5.png"
            alt="starter pack icon images"
            width="75"
            height="58"
            class="mx-auto"
          />
          <div class="text-xs font-medium mt-8 pt-0.5 text-center">
            Valid Means <br />
            of identity
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-6.png"
            alt="starter pack icon images"
            width="62"
            height="63"
            class="mx-auto"
          />
          <div class="text-xs font-medium mt-8 text-center">
            Residential <br />
            Address
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 md:hidden gap-y-6 mt-[41px]">
        <div>
          <img
            src="assets/images/starter-pack/icon-1.png"
            alt="starter pack icon images"
            width="62.29"
            height="53.98"
            class="mx-auto"
          />
          <div class="text-[8px] font-medium mt-2 -ml-2 text-center">
            Nigerian <br />
            Resident
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-2.png"
            alt="starter pack icon images"
            width="44.49"
            height="46"
            class="mx-auto"
          />
          <div class="text-[8px] font-medium mt-4 mx-2 text-center">
            20+ <br />
            Years
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-3.png"
            alt="starter pack icon images"
            width="38.86"
            height="53.16"
            class="mx-auto"
          />
          <div class="text-[8px] font-medium mt-3 mx-2 text-center">
            Bank Verification <br />
            Number(BVN)
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-4.png"
            alt="starter pack icon images"
            width="52.34"
            height="52.34"
            class="mx-auto"
          />
          <div class="text-[8px] font-medium mt-2 text-center">
            Bank <br />
            Account
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-5.png"
            alt="starter pack icon images"
            width="57"
            height="45"
            class="mx-auto"
          />
          <div class="text-[8px] font-medium mt-4 pt-0.5 text-center">
            Valid Means <br />
            of identity
          </div>
        </div>
        <div>
          <img
            src="assets/images/starter-pack/icon-6.png"
            alt="starter pack icon images"
            width="48"
            height="50"
            class="mx-auto"
          />
          <div class="text-[8px] font-medium mt-4 text-center">
            Residential <br />
            Address
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
