<section class="pt-20 pb-12 md:pt-44 md:pb-32 bg-white">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <h1
      class="text-[30px] md:text-[60px] font-bold text-grayDark capitalize text-center leading-tight"
    >
      quick access to <br />
      personal line of credit
    </h1>
    <p
      class="text-xs md:text-xl max-w-[290px] md:max-w-[849px] mx-auto text-center text-paragraph mt-6"
    >
      Enjoy unlimited access to quick credit whenever you are in need. Get as
      much as you want with zero collateral or lengthy application processes.
    </p>

    <div class="max-w-5xl mx-auto">
      <div class="grid md:grid-cols-3 mt-9 md:mt-[73px] gap-y-8">
        <div
          class="w-full h-[226px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto px-[17px] py-[17px] md:py-[38px] md:px-[33px]"
        >
          <div class="flex items-center md:block">
            <img
              src="assets/images/cash/icon-1.jpg"
              alt="cash placeholder icon image"
              class="w-[60px] h-[60px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[200px] md:max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Low Interest Rates
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph mt-3">
            We've got the lowest rates in town. Our interest rates are tailored
            as seamlessly and as convenient as possible.
          </p>
        </div>
        <div
          class="w-full h-[226px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto px-[17px] py-[2px] md:py-[38px] md:px-[33px]"
        >
          <div class="flex items-center md:block">
            <img
              src="assets/images/cash/icon-2.jpg"
              alt="cash placeholder icon image"
              class="w-[60px] h-[60px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[200px] md:max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Personalized Credit Limits
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph mt-3">
            The more transactions you make, the higher the amount you have
            access to.
          </p>
        </div>
        <div
          class="w-full h-[226px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto px-[17px] py-[2px] md:py-[38px] md:px-[33px]"
        >
          <div class="flex items-center md:block">
            <img
              src="assets/images/cash/icon-3.jpg"
              alt="cash placeholder icon image"
              class="w-[60px] h-[60px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[200px] md:max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              No Collateral Required
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph mt-3">
            Whether you'd like cash for an urgent need or to pay bills, we've
            got you covered. All credit requests are approved in minutes, so you
            can enjoy access to cash any day and anytime.
          </p>
        </div>
        <div
          class="w-full h-[226px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto px-[17px] py-[2px] md:py-[38px] md:px-[33px]"
        >
          <div class="flex items-center md:block">
            <img
              src="assets/images/cash/icon-4.jpg"
              alt="cash placeholder icon image"
              class="w-[60px] h-[60px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[200px] md:max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              No Hidden <br />
              Fees
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph mt-3">
            We offer a financing plan that is credible and transparent. The
            agreed amount at the start of your contract is all you will have to
            pay. No more!
          </p>
        </div>
        <div
          class="w-full h-[226px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto px-[17px] py-[2px] md:py-[38px] md:px-[33px]"
        >
          <div class="flex items-center md:block">
            <img
              src="assets/images/cash/icon-5.jpg"
              alt="cash placeholder icon image"
              class="w-[60px] h-[60px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[200px] md:max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Fixed Repayment Schedule
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph mt-3">
            We encourage you to to stick to your end of the bargain. A repayment
            schedule will be communicated before your withdrawal process is
            complete. This helps us adjust your credit limit according to your
            risk profile and usage.
          </p>
        </div>
        <div
          class="w-full h-[226px] md:w-[311px] md:h-[368px] bg-white rounded-[10px] cash-card mx-auto px-[17px] py-[2px] md:py-[38px] md:px-[33px]"
        >
          <div class="flex items-center md:block">
            <img
              src="assets/images/cash/icon-6.jpg"
              alt="cash placeholder icon image"
              class="w-[60px] h-[60px] md:w-[77.13px] md:h-[77.13px]"
            />
            <div
              class="my-[23px] text-grayDark text-[19px] md:text-2xl max-w-[200px] md:max-w-[246px] leading-6 font-semibold ml-4 md:ml-0"
            >
              Friendly Help
            </div>
          </div>
          <p class="text-xs max-w-[246px] text-paragraph mt-3">
            Need help? Our professional and friendly team of humans are on
            standby to assist.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
