<section class="pt-6 pb-16 md:pt-5 md:pb-16 bg-lighter">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <div class="md:max-w-5xl mx-auto">
      <div class="md:flex items-center justify-between">
        <div>
          <h1
            class="text-[25px] md:text-[45px] font-bold text-black capitalize max-w-[299px]"
          >
            get cash
          </h1>
          <p
            class="md:mt-2 text-paragraph text-xs md:text-lg max-w-[300px] md:max-w-[384px]"
          >
            Unlock your personal line of credit to access money on the go
          </p>
        </div>
        <div>
          <img
            src="assets/images/service-bg3.png"
            alt="services banner 1"
            width="375"
            height="375"
            class="mt-[10px] md:mt-0 w-[241px] h-[219px] md:w-[375px] md:h-[375px] object-cover md:object-contain"
          />
        </div>
      </div>
      <div
        class="flex flex-col-reverse md:flex-row md:items-center justify-between mt-12"
      >
        <div>
          <img
            src="assets/images/service-bg.png"
            alt="services banner 1"
            class="mt-[30px] md:mt-0 w-[241px] h-[219px] md:w-[383px] md:h-[375px] object-cover md:object-contain"
          />
        </div>
        <div>
          <h1
            class="text-[25px] md:text-[45px] font-bold text-black capitalize"
          >
            Pay Bills
          </h1>
          <p
            class="md:mt-2 text-paragraph text-xs md:text-lg max-w-[300px] md:max-w-[384px]"
          >
            Enjoy swift payments from the comfort of your home. Sort utility
            bills and service subscriptions in easy swipes.
          </p>
        </div>
      </div>
      <div class="md:flex items-center justify-between mt-16">
        <div>
          <h1
            class="text-[25px] md:text-[45px] font-bold text-black capitalize max-w-[220px] md:max-w-[375px]"
          >
            buy airtime and mobile data
          </h1>
          <p
            class="md:mt-2 text-paragraph text-xs md:text-lg max-w-[300px] md:max-w-[384px]"
          >
            Stay connected with friends and loved ones. Top up on airtime/data
            on the go, repay at your convenience.
          </p>
        </div>
        <div>
          <img
            src="assets/images/service-bg2.png"
            alt="services banner 1"
            class="mt-[30px] md:mt-0 w-[241px] h-[219px] md:w-[405px] md:h-[375px] object-cover md:object-contain"
          />
        </div>
      </div>
    </div>
  </div>
</section>
