<section class="py-10 md:py-24 bg-[#FAFCFF]">
  <div class="container mx-auto px-[30px] md:px-9 xl:px-16 2xl:px-36">
    <h1
      class="text-[25px] md:text-[40px] font-bold text-grayDark capitalize text-center px-10 md:px-0"
    >
      How to Join the Frenn Tribe
    </h1>
    <p
      class="text-sm md:text-lg max-w-[862px] mx-auto font-light text-center text-paragraph mt-5"
    >
      Managing money should be easy! As a member of the tribe, you enjoy full
      control of your spending, saving, and expenses all in one place.
    </p>
    <div
      class="md:w-auto md:max-w-5xl mx-auto overflow-auto md:overflow-clip whitespace-nowrap md:whitespace-normal"
    >
      <div
        class="grid grid-cols-3 mt-10 md:mt-[73px] md:gap-y-8 gap-x-52 md:gap-x-0 pt-8 pb-4 md:py-4 whitespace-normal overflow-y-hidden"
      >
        <div
          class="w-[190px] h-[255px] md:w-[296px] md:h-[345px] bg-white rounded-[10px] tribe-card mx-auto py-[38px] px-[18px] md:px-[33px]"
        >
          <img
            src="assets/images/tribe/icon-1.jpg"
            alt="cash placeholder icon image"
            class="w-[64px] h-[59px] md:w-[100px] md:h-[100px] -mt-16 md:-mt-0"
          />
          <div class="w-full">
            <div
              class="mt-[23px] md:mt-[27px] text-grayDark text-base md:text-lg max-w-[104px] md:max-w-full leading-6 font-bold capitalize"
            >
              signup with your email
            </div>
            <p class="text-xs mt-2 md:mt-4 max-w-[239px] text-paragraph">
              Fill out your phone number so we can offer you a personalized
              experience.
            </p>
          </div>
        </div>
        <div
          class="w-[190px] h-[255px] md:w-[296px] md:h-[345px] bg-white rounded-[10px] tribe-card mx-auto py-[38px] px-[18px] md:px-[33px]"
        >
          <img
            src="assets/images/tribe/icon-2.jpg"
            alt="cash placeholder icon image"
            class="w-[64px] h-[59px] md:w-[100px] md:h-[100px] -mt-16 md:-mt-0"
          />
          <div
            class="mt-[23px] md:mt-[27px] text-grayDark text-base md:text-lg max-w-[104px] md:max-w-full leading-6 font-bold capitalize"
          >
            Add BVN
          </div>
          <p class="text-xs mt-2 md:mt-4 max-w-[239px] text-paragraph">
            Your BVN number helps us verify your identity. This also helps us
            prevent identity fraud.
          </p>
        </div>
        <div
          class="w-[190px] h-[255px] md:w-[296px] md:h-[345px] bg-white rounded-[10px] tribe-card mx-auto py-[38px] px-[18px] md:px-[33px]"
        >
          <img
            src="assets/images/tribe/icon-3.jpg"
            alt="cash placeholder icon image"
            class="w-[64px] h-[59px] md:w-[100px] md:h-[100px] -mt-16 md:-mt-0"
          />
          <div
            class="mt-[23px] md:mt-[27px] text-grayDark text-base md:text-lg max-w-[104px] md:max-w-full leading-6 font-bold capitalize"
          >
            complete your profile
          </div>
          <p class="text-xs mt-2 md:mt-4 max-w-[239px] text-paragraph">
            As a final step, we'd love to put a face to your name. Simply take
            nice looking photo to proceed. Once that is complete, Voila! Welcome
            to the Frenn Tribe.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
